{% if module_dmenu_editor_status and settings_menu['status'] and menu_items %}
    {% if settings_menu['title']['status'] %}
        <div class="dmenu_editor-title_inner {{ settings_menu['title']['display'] }}">
            <div class="container">
                <div class="dmenu_editor-title_type">{{ entry_menu_type }}</div>
            </div>
        </div>
    {% endif %}

    <div class="dmenu_editor-menu_inner {% if settings_menu['mobile']['status'] %}mobile{% endif %}">
        <div class="container">
            <nav id="dmenu_editor-menu_{{ menu_type }}" class="dmenu_editor-nav_menu" data-menu="{{ menu_type }}">
                <div class="dmenu_editor-header">
                    <span class="dmenu_editor-menu_title">{{ entry_menu_type }}</span>
                    <button type="button" class="dmenu_editor-toggle" role="button" aria-label="{{ entry_menu_type }}">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

                <div class="dmenu_editor-collapse">
                    <div id="dmenu_editor-mobile_bg_{{ menu_type }}" class="dmenu_editor-mobile_bg"></div>
                    <div class="dmenu_editor-dropdown_inner">
                        <div class="dmenu_editor-menu">
                            <ul class="dmenu_editor-menu_list">
                                <li class="dmenu_editor-mobile_header">
                                    <span class="dmenu_editor-mobile_header_title">{{ entry_menu_type }}</span>
                                    <button type="button" class="dmenu_editor-mobile_toggle" style="{% if settings_menu['mobile']['close'] == 1 %}display: none;{% endif %}" role="button" aria-label="{{ entry_menu_type }}">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>

                                {{ _self.recursiveItems(menu_items, catalog, additional, translated_text) }}
                            </ul>
                        </div>
                    </div>

                    {% macro recursiveItems(menu_items, catalog, additional, translated_text, index = 1) %}
                        {% if index != 1 %}
                            <li class="dmenu_editor-back">
                                <a class="button_back" role="button">{{ translated_text['text_back'] }}</a>
                            </li>
                        {% endif %}

                        {% for menu_item in menu_items %}
                            {% if menu_item['data']['status'] %}
                                {% if menu_item['data']['layout'] == 'catalog' %}
                                    {% if catalog|length > 0 %}
                                        {% set index_r = 0 %}

                                        {% if menu_item['data']['dropdown'] %}
                                            {% set index_item = index + 1 %}

                                            <li class="dmenu_editor-item dmenu_editor-dropdown dmenu_editor-catalog level_{{ index }}{% if index == 1 %} depth-zero{% endif %}{{ menu_item['extra']['class']['el'] }}">
                                                <a class="dmenu_editor-dropdown_toggle" role="button">
                                                    {% if additional['icon_status'] and (menu_item['extra']['sprite'] or menu_item['data']['icon']['thumb']) %}<span class="icon" style="{{ menu_item['extra']['style']['icon'] }}"></span>{% endif %}<span class="title">{{ menu_item['data']['title'] }}</span>
                                                </a>

                                                <div class="dmenu_editor-dropdown_inner">
                                                    <div class="dmenu_editor-menu">
                                                        <ul class="dmenu_editor-menu_list">
                                                            {% import _self as macros %}
                                                            {{ macros.recursiveCatalog(catalog, additional, translated_text, 1, index_item, index_r) }}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        {% else %}
                                            {% import _self as macros %}
                                            {{ macros.recursiveCatalog(catalog, additional, translated_text, 0, index, index_r) }}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% set status_rows = false %}

                                    {% if menu_item['rows'] %}
                                        {% for row in menu_item['rows'] %}
                                            {% if row['data']['status'] %}
                                                {% if row['data']['layout'] == 'catalog' %}
                                                    {% if catalog|length > 0 %}
                                                        {% set status_rows = true %}
                                                    {% endif %}
                                                {% else %}
                                                    {% set status_rows = true %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if status_rows %}
                                        {% set index_r = index + 1 %}

                                        <li class="dmenu_editor-item dmenu_editor-dropdown level_{{ index }}{% if index == 1 %} depth-zero{% endif %}{{ menu_item['extra']['class']['el'] }}">
                                            <a href="{{ menu_item['data']['url']['href'] }}" class="dmenu_editor-dropdown_toggle"{% if menu_item['data']['target'] %} target="{{ menu_item['data']['target'] }}"{% endif %}{% if menu_item['data']['xfn'] %} rel="{{ menu_item['data']['xfn'] }}"{% endif %}>
                                                {% if additional['icon_status'] and (menu_item['extra']['sprite'] or menu_item['data']['icon']['thumb']) %}<span class="icon" style="{{ menu_item['extra']['style']['icon'] }}"></span>{% endif %}<span class="title">{{ menu_item['data']['title'] }}</span>
                                            </a>

                                            <div class="dmenu_editor-dropdown_inner">
                                                <div class="dmenu_editor-menu">
                                                    <ul class="dmenu_editor-menu_list">
                                                        {% import _self as macros %}
                                                        {{ macros.recursiveItems(menu_item['rows'], catalog, additional, translated_text, index_r) }}
                                                    </ul>
                                                </div>

                                                {% if menu_item['data']['url']['href'] and menu_item['data']['url']['href'] != '#' %}
                                                    <a href="{{ menu_item['data']['url']['href'] }}" class="see-all">{{ translated_text['text_all'] }} "{{ menu_item['data']['title'] }}"</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="dmenu_editor-item level_{{ index }}{% if index == 1 %} depth-zero{% endif %}{{ menu_item['extra']['class']['el'] }}">
                                            <a href="{{ menu_item['data']['url']['href'] }}"{% if menu_item['data']['target'] %} target="{{ menu_item['data']['target'] }}"{% endif %}{% if menu_item['data']['xfn'] %} rel="{{ menu_item['data']['xfn'] }}"{% endif %}>
                                                {% if additional['icon_status'] and (menu_item['extra']['sprite'] or menu_item['data']['icon']['thumb']) %}<span class="icon" style="{{ menu_item['extra']['style']['icon'] }}"></span>{% endif %}<span class="title">{{ menu_item['data']['title'] }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endmacro %}

                    {% macro recursiveCatalog(categories, additional, translated_text, catalog_menu, index_item, index = 0, depth = 0) %}
                        {% if depth == 0 %}
                            {% if catalog_menu == 1 %}
                                <li class="dmenu_editor-back">
                                    <a class="button_back" role="button">{{ translated_text['text_back'] }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if index == 0 %}
                                <li class="dmenu_editor-back">
                                    <a class="button_back" role="button">{{ translated_text['text_back'] }}</a>
                                </li>
                            {% endif %}
                        {% endif %}

                        {% for category in categories %}
                            {% if category['status'] %}
                                {% set status_rows = false %}
                                {% set total = category['children']|length %}

                                {% if total > 0 %}
                                    {% for row in category['children'] %}
                                        {% if row['status'] %}
                                            {% set status_rows = true %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if status_rows %}
                                    <li class="dmenu_editor-item dmenu_editor-dropdown level_{{ index_item }}{% if catalog_menu == 0 and index_item == 1 and depth == 0 %} depth-zero{% endif %}{{ category['extra']['class']['el'] }} {{ category['current'] }}">
                                        <a href="{{ category['href'] }}" class="dmenu_editor-dropdown_toggle">
                                            {% if additional['icon_status'] and (category['extra']['sprite'] or category['extra']['fields']['thumb']) %}<span class="icon" style="{{ category['extra']['style']['icon'] }}"></span>{% endif %}<span class="title">{{ category['name'] }}</span>
                                        </a>

                                        <div class="dmenu_editor-dropdown_inner">
                                            <div class="dmenu_editor-menu">
                                                {% set index_item_loop = index_item + 1 %}

                                                {% if index == 0 %}
                                                    {% for children in category['children']|batch(category['children']|length / category['column']|round(1, 'ceil')) %}
                                                        {% set index_r = loop.index0 %}
                                                        {% set depth_r = depth + 1 %}

                                                        <ul class="dmenu_editor-menu_list">
                                                            {% import _self as macros %}
                                                            {{ macros.recursiveCatalog(children, additional, translated_text, catalog_menu, index_item_loop, index_r, depth_r) }}
                                                        </ul>
                                                    {% endfor %}
                                                {% else %}
                                                    {% set index_r = 0 %}
                                                    {% set depth_r = depth + 1 %}

                                                    <ul class="dmenu_editor-menu_list">
                                                        {% import _self as macros %}
                                                        {{ macros.recursiveCatalog(category['children'], additional, translated_text, catalog_menu, index_item_loop, index_r, depth_r) }}
                                                    </ul>
                                                {% endif %}
                                            </div>

                                            <a href="{{ category['href'] }}" class="see-all">{{ translated_text['text_all'] }} "{{ category['name'] }}"</a>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="dmenu_editor-item level_{{ index_item }}{% if catalog_menu == 0 and index_item == 1 and depth == 0 %} depth-zero{% endif %}{{ category['extra']['class']['el'] }} {{ category['current'] }}">
                                        <a href="{{ category['href'] }}">
                                            {% if additional['icon_status'] and (category['extra']['sprite'] or category['extra']['fields']['thumb']) %}<span class="icon" style="{{ category['extra']['style']['icon'] }}"></span>{% endif %}<span class="title">{{ category['name'] }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endmacro %}
                </div>
            </nav>

            {% if styles or style %}
                <style>
                    {% if styles %}
                        {% for key, device in styles %}

                            /* Module Styles '{{ key }}' */

                            {% if key == 'desktop_ultra' %}
                                @media (min-width: 1921px) { {{ device }} }
                            {% elseif key == 'desktop_hd' %}
                                @media (min-width: 1201px) and (max-width: 1920px) { {{ device }} }
                            {% elseif key == 'tablet' %}
                                @media (min-width: 768px) and (max-width: 1200px) { {{ device }} }
                            {% elseif key == 'mobile' %}
                                @media (max-width: 767px) { {{ device }} }
                            {% else %}
                                {{ device }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if style %}
                        {% for key, device in style %}

                            /* Custom Style '{{ key }}' */

                            {% if key == 'desktop_ultra' %}
                                @media (min-width: 1921px) { {{ device }} }
                            {% elseif key == 'desktop_hd' %}
                                @media (min-width: 1201px) and (max-width: 1920px) { {{ device }} }
                            {% elseif key == 'tablet' %}
                                @media (min-width: 768px) and (max-width: 1200px) { {{ device }} }
                            {% elseif key == 'mobile' %}
                                @media (max-width: 767px) { {{ device }} }
                            {% else %}
                                {{ device }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </style>
            {% endif %}

            <script type="text/javascript">
                // General Settings.
                dmenuSettings.status = Number('{{ module_dmenu_editor_status }}');

                // Menu Settings.
                dmenuSettings.menu.{{ menu_type }} = {
                    status  : Number('{{ settings_menu["status"] }}'),  // Setting 'Status'
                    display : Number('{{ settings_menu["display"] }}'), // Setting 'Show on site'
                    mobile  : {
                        status : Number('{{ settings_menu["mobile"]["status"] }}'), // Setting 'Status Mobile Menu'
                        close  : Number('{{ settings_menu["mobile"]["close"] }}')   // Setting 'Close Mobile Menu'
                    }
                };
            </script>
        </div>
    </div>
{% endif %}