<div class="module-menu_items menu-items menu-{{ menu_type }}" data-menu="{{ menu_type }}">
    <div class="module_stores">
        <div>
            <ul class="nav nav-tabs nav-tabs-menu-stores">
                {% for store in stores %}
                    {% if error_items[menu_type]['store_' ~ store.store_id]['empty_fields'] %}
                        {% set class_warning = 'alert_warning' %}
                    {% else %}
                        {% set class_warning = '' %}
                    {% endif %}

                    <li class="{% if loop.index0 == 0 %}active{% endif %}">
                        <a href="#tab-menu_{{ menu_type }}_store_{{ store['store_id'] }}" data-toggle="tab" class="{{ class_warning }}">{{ store['name'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="module_menu">
        <div class="tab-content">
            {% for store in stores %}
                <div class="tab-pane store-tab_pane {% if loop.index0 == 0 %}active{% endif %}" id="tab-menu_{{ menu_type }}_store_{{ store['store_id'] }}" data-store="{{ store['store_id'] }}">
                    <div id="module_menu_{{ menu_type }}_store_{{ store['store_id'] }}_sortable_wrap" class="module-menu_items_wrap nested-sortable">
                        {% if menus[menu_type]['store_' ~ store.store_id] %}
                            {{ items_menu['store_' ~ store.store_id] }}
                        {% else %}
                            <div class="not_repair sortable_filtered">
                                <div class="module-menu_items_missing_text">{{ text_menu_item_missing }}</div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="module-toolbar">
                        <span class="item_toolbar item_toolbar-checkbox_default">
                            <input type="checkbox" name="module_dmenu_editor_settings[general][menu][store_default][{{ menu_type }}]" data-toggle="tooltip" title="{{ button_toolbar_store_default }}" value="{{ store['store_id'] }}" class="field-checkbox_default"{% if module_settings['general']['menu']['store_default'][menu_type] is defined and module_settings['general']['menu']['store_default'][menu_type] == store.store_id %} checked{% endif %} data-meaning="menu" />
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>