{{ _self.recursiveItems(items_store, menu_type, module_layouts, languages, config_language_id, store_id, 
    translated_text, item_placeholder, item_id, item_name) }}

{% macro recursiveItems(menu_items, menu_type, module_layouts, languages, config_language_id, store_id, 
    translated_text, item_placeholder, item_id = '', item_name = '') %}

    {% for key_item, menu_item in menu_items %}
        {% if item_id is empty %}
            {% set item_id_prev = '' %}
            {% set item_name_prev = '' %}

            {% set item_id = key_item %}
            {% set item_name = '[' ~ key_item ~ ']' %}
        {% else %}
            {% set item_id_prev = item_id %}
            {% set item_name_prev = item_name %}

            {% set item_id = item_id ~ '_' ~ key_item %}
            {% set item_name = item_name ~ '[rows][' ~ key_item ~ ']' %}
        {% endif %}

        {% if menu_item['data']['layout'] != 'catalog' %}
            <div id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}" class="form-group module-menu_item_wrap" data-title="{% if menu_item['data']['names']['language_' ~ config_language_id] is defined and menu_item['data']['names']['language_' ~ config_language_id]|length %}{{ menu_item['data']['names']['language_' ~ config_language_id] }}{% else %}{{ translated_text['note_title_empty'] }}{% endif %}" data-row="{{ key_item }}">
                <div class="module-dmenu_editor-item {% if menu_item['data']['status'] %}enabled{% else %}disabled{% endif %}">
                    <div class="text-left module-dmenu_editor-item_title {% if menu_item['error'] is defined %}{{ 'alert_warning' }}{% endif %}">
                        {% if menu_item['data']['layout'] in module_layouts|keys %}
                            <span class="text">{% if menu_item['data']['names']['language_' ~ config_language_id] is defined and menu_item['data']['names']['language_' ~ config_language_id]|length %}{{ menu_item['data']['names']['language_' ~ config_language_id] }}{% else %}{{ translated_text['note_title_empty'] }}{% endif %}</span>
                        {% else %}
                            <span class="text">{{ translated_text['text_item_desc_none'] }}</span>
                        {% endif %}

                        <span class="buttons">
                            {% if menu_item['data']['layout'] in module_layouts|keys %}
                                <span class="notice">{{ module_layouts[menu_item.data.layout] }}</span>
                            {% else %}
                                <span class="notice">{{ translated_text['text_item_desc_none'] }}</span>
                            {% endif %}

                            {% if menu_item['data']['url']['link'] and menu_item['data']['layout'] != 'custom' %}
                                <a href="/{{ menu_item['data']['url']['link'] }}" class="a_item_href" target="_blank">
                                    <i class="fa fa-eye fa_item_href" data-toggle="tooltip" title="{{ translated_text['button_look_tip'] }}"></i>
                                </a>
                            {% else %}
                                <a class="a_item_href"></a>
                            {% endif %}

                            <i class="fa fa-trash-o fa_row_remove" data-toggle="tooltip" title="{{ translated_text['button_remove_item_tip'] }}"></i>
                            <i class="fa fa-angle-down fa_arrow_open" data-toggle="tooltip" title="{{ translated_text['button_edit_item_tip'] }}"></i>
                        </span>
                    </div>

                    <div class="module-dmenu_editor-item_content" style="display: none;">
                        <div class="field required">
                            <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-names_{{ config_language_id }}">{{ translated_text['entry_name'] }}</label>

                            <div class="col-sm-10 field-content module-dmenu_editor-item_title_languages">
                                {% for language in languages %}
                                    <div class="input-group pull-left">
                                        <span class="input-group-addon">
                                            <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" />
                                        </span>

                                        <input type="text" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][names][language_{{ language['language_id'] }}]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-names_{{ language['language_id'] }}" class="form-control name_{{ language['language_id'] }}" value="{% if (menu_item['data']['names']['language_' ~ language.language_id] is defined) %}{{ menu_item['data']['names']['language_' ~ language.language_id] }}{% endif %}" required />
                                    </div>

                                    <div id="error-{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-names_{{ language['language_id'] }}" class="text-danger"></div>

                                    {% if menu_item['error']['names']['language_' ~ language.language_id] is defined %}
                                        <div class="text-danger">{{ menu_item['error']['names']['language_' ~ language.language_id] }}</div>
                                    {% endif %}
                                {% endfor %}

                                <div class="input-group pull-left">
                                    <div class="checkbox">
                                        <label for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-names_hide">
                                            <input type="checkbox" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][names_hide]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-names_hide" class="form-control names_hide" value="1"{% if menu_item['data']['names_hide'] %} checked="checked"{% endif %} /> {{ translated_text['entry_name_hide'] }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if menu_item['data']['layout'] == 'custom' %}
                            <div class="field required">
                                <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-url-seo_{{ config_language_id }}">{{ translated_text['entry_url'] }}</label>

                                <div class="col-sm-10 field-content module-dmenu_editor-item_title_languages item_url">
                                    {% for language in languages %}
                                        <div class="input-group pull-left">
                                            <span class="input-group-addon">
                                                <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" />
                                            </span>

                                            <input type="text" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][url][seo][language_{{ language['language_id'] }}]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-url-seo_{{ language['language_id'] }}" class="form-control url_seo_{{ language['language_id'] }}" value="{% if (menu_item['data']['url']['seo']['language_' ~ language.language_id] is defined) %}{{ menu_item['data']['url']['seo']['language_' ~ language.language_id] }}{% endif %}" {% if menu_item['data']['url']['seo']['language_' ~ language.language_id] %}{{ 'readonly' }}{% endif %} />

                                            {% if menu_item['data']['url']['seo']['language_' ~ language.language_id] %}
                                                <i class="fa fa-lock" data-toggle="tooltip" data-lock="{{ translated_text['button_lock_tip'] }}" data-unlock="{{ translated_text['button_unlock_tip'] }}" title="{{ translated_text['button_unlock_tip'] }}"></i>
                                            {% endif %}
                                        </div>

                                        <div id="error-{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-url-seo_{{ language['language_id'] }}" class="text-danger invalid-feedback"></div>

                                        {% if menu_item['error']['seo']['language_' ~ language.language_id] is defined %}
                                            <div class="text-danger">{{ menu_item['error']['seo']['language_' ~ language.language_id] }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <div class="field">
                            <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-target">{{ translated_text['entry_target'] }}</label>

                            <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                <select name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][target]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-target" class="form-control">
                                    <option value="" {% if menu_item['data']['target'] == '' %}{{ ' selected' }}{% endif %}>{{ translated_text['text_select_none'] }}</option>
                                    <option value="_self" {% if menu_item['data']['target'] == '_self' %}{{ ' selected' }}{% endif %}>{{ translated_text['text_target_self'] }}</option>
                                    <option value="_blank" {% if menu_item['data']['target'] == '_blank' %}{{ ' selected' }}{% endif %}>{{ translated_text['text_target_blank'] }}</option>
                                    <option value="_parent" {% if menu_item['data']['target'] == '_parent' %}{{ ' selected' }}{% endif %}>{{ translated_text['text_target_parent'] }}</option>
                                    <option value="_top" {% if menu_item['data']['target'] == '_top' %}{{ ' selected' }}{% endif %}>{{ translated_text['text_target_top'] }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="field">
                            <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-xfn">{{ translated_text['entry_xfn'] }}</label>

                            <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                <input name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][xfn]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-xfn" class="form-control" value="{{ menu_item['data']['xfn'] }}" />
                            </div>
                        </div>

                        <div class="field">
                            <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-class">{{ translated_text['entry_class'] }}</label>

                            <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                <input name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][class]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-class" class="form-control" value="{{ menu_item['data']['class'] }}" />
                            </div>
                        </div>

                        <div class="field">
                            <label class="col-sm-2 control-label">{{ translated_text['entry_icon'] }}</label>

                            <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                <a href="" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-icon-thumb" data-toggle="image" class="img-thumbnail module_dmenu_editor-placeholder">
                                    <img src="{% if menu_item['data']['icon']['thumb'] is defined %}{{ menu_item['data']['icon']['thumb'] }}{% else %}{{ item_placeholder }}{% endif %}" alt="{{ translated_text['entry_icon'] }}" title="{{ translated_text['entry_icon'] }}" data-placeholder="{{ item_placeholder }}">
                                </a>
                                <input type="hidden" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][icon][image]" value="{% if menu_item['data']['icon']['image'] is defined %}{{ menu_item['data']['icon']['image'] }}{% endif %}" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-icon-image" class="hidden" />
                            </div>
                        </div>

                        <div class="field">
                            <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-status">{{ translated_text['entry_status'] }}</label>

                            <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                <select name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][status]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-status" class="form-control field-status">
                                    {% if menu_item['data']['status'] %}
                                        <option value="1" selected="selected">{{ translated_text['text_enabled'] }}</option>
                                        <option value="0">{{ translated_text['text_disabled'] }}</option>
                                    {% else %}
                                        <option value="1">{{ translated_text['text_enabled'] }}</option>
                                        <option value="0" selected="selected">{{ translated_text['text_disabled'] }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div>
                            <input type="hidden" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][url][link]" class="hidden" value="{{ menu_item['data']['url']['link'] }}" />
                            <input type="hidden" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][id]" class="hidden" value="{{ menu_item['data']['id'] }}" />
                            <input type="hidden" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][layout]" class="hidden" value="{{ menu_item['data']['layout'] }}" />
                        </div>
                    </div>
                </div>

                <div class="module-dmenu_editor-item_content_sortable">
                    <div id="module_menu_{{ menu_type }}_store_{{ store_id }}_nested_sortable-{{ item_id }}" class="module-menu_items_wrap_content nested-sortable">
                        {% if menu_item['rows'] is defined and menu_item['rows']|length > 0 %}
                            {% import _self as macros %}

                            {{ macros.recursiveItems(menu_item['rows'], menu_type, module_layouts, languages, config_language_id, store_id, 
                                translated_text, item_placeholder, item_id, item_name) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}" class="form-group module-menu_item_wrap catalog_item" data-row="{{ key_item }}">
                <div class="module-dmenu_editor-item {% if menu_item['data']['status'] %}enabled{% else %}disabled{% endif %}">
                    <div class="text-left module-dmenu_editor-item_title {% if menu_item['error'] is defined %}{{ 'alert_warning' }}{% endif %}">
                        <span class="text">{{ translated_text['text_result_categories'] }}</span>
                        <span class="buttons">
                            <span class="notice">{{ translated_text['text_item_desc_catalog'] }}</span>
                            <a class="a_item_href"></a>
                            <i class="fa fa-trash-o fa_row_remove" data-toggle="tooltip" title="{{ translated_text['button_remove_item_tip'] }}"></i>
                            <i class="fa fa-angle-down fa_arrow_open" data-toggle="tooltip" title="{{ translated_text['button_edit_item_tip'] }}"></i>
                        </span>
                    </div>

                    <div class="module-dmenu_editor-item_content" style="display: none;">
                        <div class="field setting-dropdown">
                            <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-dropdown">{{ translated_text['entry_dropdown'] }}</label>

                            <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                <select name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][dropdown]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-dropdown" class="form-control">
                                    {% if menu_item['data']['dropdown'] %}
                                        <option value="1" selected="selected">{{ translated_text['text_yes'] }}</option>
                                        <option value="0">{{ translated_text['text_no'] }}</option>
                                    {% else %}
                                        <option value="1">{{ translated_text['text_yes'] }}</option>
                                        <option value="0" selected="selected">{{ translated_text['text_no'] }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="setting-dropdown_hidden_block {% if not menu_item['data']['dropdown'] %}{{ 'hidden' }}{% endif %}">
                            <div class="field setting-dropdown_title required">
                                <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-name_{{ config_language_id }}">{{ translated_text['entry_dropdown_title'] }}</label>

                                <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                    {% for language in languages %}
                                        <div class="input-group pull-left" {% if not loop.last %}style="margin-bottom: 5px;"{% endif %}>
                                            <span class="input-group-addon">
                                                <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" />
                                            </span>

                                            <input type="text" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-name_{{ language['language_id'] }}" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][names][language_{{ language['language_id'] }}]" class="form-control name_{{ language['language_id'] }}" value="{% if (menu_item['data']['names']['language_' ~ language.language_id] is defined) %}{{ menu_item['data']['names']['language_' ~ language.language_id] }}{% else %}{{ opencart_pages['catalog']['names']['language_' ~ language.language_id] }}{% endif %}" />
                                        </div>

                                        {% if menu_item['error']['names']['language_' ~ language.language_id] is defined %}
                                            <div class="text-danger">{{ menu_item['error']['names']['language_' ~ language.language_id] }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="field setting-dropdown_icon">
                                <label class="col-sm-2 control-label">{{ translated_text['entry_icon'] }}</label>

                                <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                    <a href="" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-icon-thumb" data-toggle="image" class="img-thumbnail module_dmenu_editor-placeholder">
                                        <img src="{% if menu_item['data']['icon']['thumb'] is defined %}{{ menu_item['data']['icon']['thumb'] }}{% else %}{{ item_placeholder }}{% endif %}" alt="{{ translated_text['entry_icon'] }}" title="{{ translated_text['entry_icon'] }}" data-placeholder="{{ item_placeholder }}">
                                    </a>
                                    <input type="hidden" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][icon][image]" value="{% if menu_item['data']['icon']['image'] is defined %}{{ menu_item['data']['icon']['image'] }}{% endif %}" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-icon-image" class="hidden" />
                                </div>
                            </div>
                        </div>

                        <div class="field setting-status">
                            <label class="col-sm-2 control-label" for="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-status">{{ translated_text['entry_status'] }}</label>

                            <div class="col-sm-10 field-content module-dmenu_editor-item_field">
                                <select name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][status]" id="{{ menu_type }}-store_{{ store_id }}-item-{{ item_id }}-data-status" class="form-control field-status">
                                    {% if menu_item['data']['status'] %}
                                        <option value="1" selected="selected">{{ translated_text['text_enabled'] }}</option>
                                        <option value="0">{{ translated_text['text_disabled'] }}</option>
                                    {% else %}
                                        <option value="1">{{ translated_text['text_enabled'] }}</option>
                                        <option value="0" selected="selected">{{ translated_text['text_disabled'] }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <input type="hidden" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][url][link]" class="hidden" value="{{ menu_item['data']['url']['link'] }}" />
                    <input type="hidden" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][id]" class="hidden" value="{{ menu_item['data']['id'] }}" />
                    <input type="hidden" name="module_dmenu_editor_items_{{ menu_type }}_{{ store_id }}{{ item_name }}[data][layout]" class="hidden" value="{{ menu_item['data']['layout'] }}" />
                </div>
            </div>
        {% endif %}

        {% set item_id = item_id_prev %}
        {% set item_name = item_name_prev %}
    {% endfor %}
{% endmacro %}