{% import "drmyts/template/macro/macros.twig" as macros %}

<section class="home-hero section rel">
    <div class="home-hero__bg abs w-full">
        <svg width="390" height="115" viewBox="0 0 390 115" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g style="mix-blend-mode: overlay">
                <path d="M31.0649 84.0001H18.4643L17.7577 75.4034C15.481 78.7008 12.6155 81.056 9.16111 82.4692C5.70675 83.8823 1.82059 84.6674 -2.49735 84.8244C-7.28635 84.7459 -11.408 83.8823 -14.8624 82.2336C-18.3167 80.5065 -21.1823 78.2297 -23.459 75.4034C-25.7358 72.4986 -27.4237 69.162 -28.5228 65.3936C-29.5434 61.6252 -30.0537 57.6213 -30.0537 53.3819C-30.0537 48.7499 -29.4649 44.4712 -28.2873 40.5458C-27.0311 36.6204 -25.1862 33.2053 -22.7525 30.3005C-20.3187 27.3957 -17.3354 25.119 -13.8025 23.4703C-10.2697 21.7431 -6.14798 20.8795 -1.43749 20.8795C1.93835 20.8795 5.35346 21.4291 8.80782 22.5282C12.2622 23.6273 15.2062 25.6685 17.64 28.6518V0.742188H31.0649V84.0001ZM0.0934124 33.009C-2.8899 33.009 -5.44141 33.5193 -7.56113 34.5399C-9.68085 35.5605 -11.4473 36.9737 -12.8604 38.7794C-14.1951 40.5851 -15.1764 42.744 -15.8045 45.2563C-16.4326 47.6901 -16.7466 50.3201 -16.7466 53.1464C-16.7466 55.9727 -16.4326 58.6027 -15.8045 61.0364C-15.1764 63.4702 -14.1951 65.5899 -12.8604 67.3956C-11.4473 69.2013 -9.68085 70.6537 -7.56113 71.7528C-5.3629 72.7734 -2.73288 73.2837 0.328938 73.2837C3.23374 73.2837 5.746 72.7341 7.86572 71.635C10.0639 70.4574 11.8696 68.9265 13.2828 67.0423C14.7744 65.1581 15.8736 62.9991 16.5801 60.5654C17.2867 58.1316 17.64 55.6194 17.64 53.0286C17.64 50.2808 17.2867 47.6901 16.5801 45.2563C15.9521 42.8225 14.9314 40.7421 13.5183 39.0149C12.1052 37.2092 10.2995 35.7961 8.10125 34.7755C5.90302 33.6763 3.23374 33.0875 0.0934124 33.009Z" fill="#1C1C1C" />
                <path d="M45.6729 84.0001V21.9394H58.2735L58.98 30.7715C63.769 24.1769 70.2852 20.8795 78.5286 20.8795C79.3136 20.8795 80.0595 20.9188 80.766 20.9973C81.5511 20.9973 82.2577 21.0365 82.8858 21.115V33.5978C81.9437 33.5978 81.0016 33.6371 80.0595 33.7156C79.1959 33.7156 78.3323 33.7156 77.4687 33.7156C74.0143 33.7941 71.1095 34.4222 68.7543 35.5998C66.4776 36.6989 64.5934 38.1906 63.1017 40.0748C61.6886 41.959 60.668 44.1964 60.0399 46.7872C59.4118 49.2995 59.0978 52.008 59.0978 54.9128V84.0001H45.6729Z" fill="#1C1C1C" />
                <path d="M100.155 67.6311C102.668 67.6311 104.709 68.4162 106.279 69.9864C107.928 71.5565 108.752 73.6762 108.752 76.3455C108.752 79.0933 107.928 81.213 106.279 82.7047C104.709 84.1963 102.668 84.9422 100.155 84.9422C97.6431 84.9422 95.5627 84.1963 93.914 82.7047C92.3438 81.213 91.5588 79.0933 91.5588 76.3455C91.5588 73.6762 92.3438 71.5565 93.914 69.9864C95.5627 68.4162 97.6431 67.6311 100.155 67.6311Z" fill="#1C1C1C" />
                <path d="M151.53 84.0001V0.742188H168.723L193.571 43.3721L218.183 0.742188H234.906V84.0001H221.363V19.1131L196.28 62.3318H190.156L165.073 19.1131V84.0001H151.53Z" fill="#1C1C1C" />
                <path d="M309.222 21.9394V74.108C309.222 77.6409 309.143 81.2523 308.986 84.9422C308.908 88.632 308.28 92.2434 307.102 95.7763C305.297 101.429 302.038 105.865 297.328 109.083C292.617 112.302 286.298 113.912 278.368 113.912C273.658 113.912 269.104 113.284 264.708 112.027C260.39 110.771 256.307 108.691 252.461 105.786C253.324 103.98 254.148 102.096 254.934 100.133C255.797 98.2493 256.661 96.3651 257.524 94.4809C260.115 96.5221 263.059 98.2493 266.357 99.6624C269.732 101.076 273.579 101.782 277.897 101.782C282.058 101.782 285.316 101.076 287.671 99.6624C290.027 98.2493 291.793 96.3258 292.971 93.8921C294.227 91.5368 295.012 88.7891 295.326 85.6487C295.719 82.5869 295.915 79.4466 295.915 76.2278C293.717 79.3681 290.969 81.6056 287.671 82.9402C284.453 84.2748 280.802 84.9422 276.72 84.9422C272.088 84.9422 268.123 84.2356 264.826 82.8224C261.528 81.4093 258.937 79.4466 257.053 76.9343C255.169 74.4221 253.834 71.4388 253.049 67.9844C252.264 64.53 251.872 60.7617 251.872 56.6792V21.9394H265.179V54.0885C265.179 56.6007 265.336 59.0345 265.65 61.3897C266.042 63.6665 266.749 65.7077 267.77 67.5134C268.869 69.2405 270.36 70.6537 272.245 71.7528C274.129 72.7734 276.602 73.2837 279.664 73.2837C282.804 73.2837 285.395 72.6556 287.436 71.3995C289.556 70.1434 291.204 68.534 292.382 66.5713C293.638 64.53 294.502 62.2141 294.973 59.6233C295.522 57.0325 295.797 54.3632 295.797 51.6155V21.9394H309.222Z" fill="#1C1C1C" />
                <path d="M342.47 21.9394H361.076V33.5978H342.47V60.9187C342.47 62.4888 342.548 63.9805 342.705 65.3936C342.941 66.8068 343.333 68.1022 343.883 69.2798C344.511 70.3789 345.374 71.2817 346.473 71.9883C347.573 72.6949 349.064 73.0482 350.948 73.0482C354.246 73.0482 357.072 72.0668 359.427 70.1041L363.902 80.1139C361.861 81.6841 359.506 82.8617 356.837 83.6468C354.167 84.3533 351.537 84.7066 348.946 84.7066C342.195 84.7066 337.209 83.0187 333.991 79.6429C330.772 76.1885 329.162 70.8107 329.162 63.5094V33.5978H319.388V21.9394H329.162V4.27505H342.47V21.9394Z" fill="#1C1C1C" />
                <path d="M395.122 32.0669C393.944 32.0669 392.688 32.1454 391.354 32.3025C390.098 32.4595 388.881 32.8128 387.703 33.3623C386.604 33.8334 385.662 34.5399 384.877 35.482C384.17 36.4241 383.817 37.641 383.817 39.1327C383.817 40.7813 384.366 42.0767 385.466 43.0188C386.643 43.9609 388.017 44.746 389.587 45.3741C391.157 45.9236 392.806 46.3947 394.533 46.7872C396.339 47.1012 397.87 47.376 399.126 47.6115C402.502 48.3181 405.524 49.0639 408.194 49.849C410.941 50.6341 413.258 51.694 415.142 53.0286C417.026 54.2847 418.478 55.9334 419.499 57.9746C420.598 60.0158 421.148 62.6851 421.148 65.9824C421.148 69.5153 420.402 72.4986 418.91 74.9324C417.497 77.3661 415.613 79.3288 413.257 80.8205C410.981 82.2336 408.351 83.2542 405.367 83.8823C402.463 84.5104 399.44 84.8244 396.3 84.8244C393.159 84.8244 390.058 84.5104 386.997 83.8823C383.935 83.2542 381.108 82.1944 378.518 80.7027C376.005 79.2111 373.886 77.2484 372.158 74.8146C370.51 72.3024 369.489 69.2798 369.097 65.7469H382.639C382.953 67.3171 383.621 68.6125 384.641 69.6331C385.662 70.6537 386.84 71.478 388.174 72.1061C389.587 72.7341 391.04 73.1659 392.531 73.4015C394.023 73.637 395.397 73.7548 396.653 73.7548C397.595 73.7548 398.733 73.6762 400.068 73.5192C401.481 73.3622 402.777 73.0089 403.954 72.4594C405.132 71.9098 406.113 71.2032 406.898 70.3396C407.762 69.3975 408.194 68.2199 408.194 66.8068C408.194 65.4721 407.88 64.373 407.252 63.5094C406.624 62.5673 405.76 61.7823 404.661 61.1542C403.64 60.5261 402.384 60.0551 400.892 59.7411C399.401 59.3485 397.831 58.956 396.182 58.5634C393.591 58.0924 390.804 57.5036 387.821 56.797C384.916 56.0904 382.168 55.1876 379.577 54.0885C377.065 52.9108 374.985 51.1837 373.336 48.9069C371.687 46.6302 370.863 43.7254 370.863 40.1925C370.863 36.4241 371.609 33.3231 373.101 30.8893C374.592 28.4556 376.516 26.4929 378.871 25.0012C381.226 23.431 383.856 22.3712 386.761 21.8216C389.666 21.1936 392.531 20.8795 395.358 20.8795C402.188 20.8795 407.762 22.4497 412.08 25.59C416.476 28.7303 418.871 33.2838 419.263 39.2504H406.663C406.27 36.7382 404.975 34.9717 402.777 33.9511C400.657 32.852 398.105 32.2239 395.122 32.0669Z" fill="#1C1C1C" />
            </g>
        </svg>
    </div>

    <div class="container home-hero__container d-grid">
        <div class="home-hero__img-wr rel">
            
            {% if badges %}
                {% for badge in badges %}
                    <div class="flex-row prof-badge home-hero__badge bg--white text--upp abs text--size_label">
                        {{ macros.svg('plus')}}
                        <span>{{ badge.text }}</span>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="home-hero__img">
                {% if image %}
                    <picture>
                        <img src="{{ image }}" alt="{{ title_accent }} {{ title_main }}" fetchpriority="high" width="488" height="580"/>
                    </picture>
                {% else %}
                    <picture><img src="./assets/pics/hero.png" alt="Placeholder" /></picture>
                {% endif %}
            </div>
        </div>

        <div class="home-hero__cards d-grid grid--col_3">
            {% if cards %}
                {% for card in cards %}
                    <div class="benefit-card bg--white">
                        <div class="benefit-card__topbar flex-row j-between">
                            <div class="benefit-card__arrow bg--sec-bg flex-center">
                                {{ macros.svg('arrow-angle', '')}}
                            </div>
                            <div class="benefit-card__icon icon">
                                {{ macros.svg(card.icon)}}
                            </div>
                        </div>
                        <h2 class="benefit-card__title text--center">
                            <span class="text--color_accent text--size_h3-full text--size_h2-desk">{{ card.num }}</span>
                            <span class="text--size_sm">{{ card.text }}</span>
                        </h2>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="home-hero__title-block">
            <h1 class="home-hero__title">
                {% if title_accent %}
                <span class="text--color_accent text--ff_accent text--size_accent-h1 home-hero__accent-title">
                    {{ title_accent }}<br />
                </span>
                {% endif %}
                
                {% if title_main %}
                <span class="text--size_h1-mob text--size_h1-desk text--upp">
                    {{ title_main|nl2br }}
                </span>
                {% endif %}
            </h1>

            <div class="home-hero__btns-wr flex-row-wrap">
                {% if red_button %}
                    <a class="btn btn--theme btn--size_M text--upp btn--theme_accent" href="{{ red_button.link }}">
                        {{ red_button.text }}
                    </a>
                {% endif %}

                {% if black_button %}
                    <a class="btn btn--theme btn--size_M text--upp btn--theme_dark" href="{{ black_button.link }}">
                        {{ black_button.text }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>