{% import "drmyts/template/macro/macros.twig" as macros %}



    <div class="filter__content flex-col"> 
        {% if active_filters %}
        <div class="active-filters flex-row-wrap filter__active-filter border--end">
            {% for filter in active_filters %}
                <button class="active-filters__item btn flex-center btn--full_black text--size_label" 
                        type="button" 
                        onclick="location = '{{ filter.remove_href }}';">
                    <span>{{ filter.name }}</span>
                    {{ macros.svg('close', '')}}
                </button>
            {% endfor %}
    	</div>
        {% endif %}

        {% for filter_group in filter_groups %} 
            <div class="accordion filter__item" aria-expanded="true">
        		<div class="accordion__heading flex-row j-between" aria-label="Open accordion" role="button">
        			<p>{{ filter_group.name }}</p>
        			<div class="icon icon--arrow accordion__icon">
                        {{ macros.svg('arrow-down') }}
        			</div>
        		</div>
        		<div class="accordion__content filter-content"  id="filter-group{{ filter_group.filter_group_id }}">
                    <div class="filter-content__search custom-input custom-input--type_filter">
        				<input class="custom-input__input" type="search" name="ingredients_search" placeholder="Пошук...">
        			</div>
        			<div class="filter-content__list flex-col">
                        {% for filter in filter_group.filter %}
            				<div class="filter-content__item custom-checkbox custom-checkbox--red flex-row">
            					<div class="custom-checkbox__wrapper rel">
            						<input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" {% if filter.filter_id in filter_category %} checked{% endif %} id="filter_{{ filter.filter_id }}">
            					</div>
            					<label for="filter_{{ filter.filter_id }}">{{ filter.name }}</label>
            				</div>
                        {% endfor %}
        			</div>
        		</div>
        	</div>
        {% endfor %}
    </div>

    <div class="filter__footer w-full">
		<button class="btn btn--theme btn--theme_accent btn--size_M text--upp filter__btn" type="button" id="button-filter">{{ button_filter }}</button>
	</div>


<script type="text/javascript">
if (document.querySelector('#button-filter')) {
    const filterItems = () => {
        filter = [];

    	$('input[name^=\'filter\']:checked').each(function(element) {
    		filter.push(this.value);
    	});

        let url = '{{ action }}';
        if (filter.length > 0 ) url += '&filter=' + filter.join(',');
        const minInput = document.querySelector('input[name="price_min"]');
        const maxInput = document.querySelector('input[name="price_max"]');

        if (minInput) url += '&price_min=' + minInput.value;
        if (maxInput) url += '&price_max=' + maxInput.value;
        window.location = url;
    }

    document.querySelector('#button-filter').addEventListener("click", e => {
        filterItems();
    })

    if (document.querySelector('.filter__item') && document.querySelector('.filter__content')) {
        document.querySelector('.filter__content').addEventListener("click", e => {
            if (e.target.closest('input[type="checkbox"]') && window.matchMedia('(min-width: 960px)').matches) {
                filterItems();
            }
        })

    }
}

</script> 
