{% import "drmyts/template/macro/macros.twig" as macros %}


<div id="cart">
    <button class="header__icon-link rel cart-btn btn" type="button" data-modal-open="cart" id="cart-btn">
        <div class="icon cart-btn__icon rel">
            {{ macros.svg('shopping-bag', '') }}
            {% if cart_total_items %}
                <span class="icon__count flex-center">{{ cart_total_items }}</span>
            {% endif %}
        </div>
        {% if cart_total_price %}
            <span class="cart-btn__sum d-none">{{ cart_total_price }}</span>
        {% endif %}
    </button>

    <div class="backdrop fixed inset wh-full anim backdrop--cart" data-modal="cart">
        <div class="backdrop__inner modal abs pos-center bg--sec-bg cart-modal wh-full flex-col o-hid">
            <div class="modal__heading cart-modal__heading flex-row j-between border--end"> 
                <h3 class="cart-modal__title text--size_h3-full m-0">Кошик {% if cart_total_items %}<span class="text--color_gray cart-modal__count">({{ cart_total_items }})</span>{% endif %}</h3>
                <button class="btn flex-center icon modal__close" type="button" data-modal-close>
                    {{ macros.svg('close', '') }}
                </button>
            </div>
            {% if products or vouchers %}
            <div class="cart-modal__content">
                <div class="cart-modal__cart-items"> 
                    {% for product in products %}
                    <div class="cart-item cart-modal__item cart-item--type_cart d-flex" data-key="{{ product.cart_id }}">
                        {% if product.thumb %}
                        <div class="cart-item__img"> 
                            <picture> 
                                <img class="contain-image" src="{{ product.thumb }}" alt="{{ product.name }}" loading="lazy" width="56" height="56">
                            </picture>
                            <a class="cart-item__link abs inset wh-full" href="{{ product.href }}">{{ product.name }}</a>
                        </div>
                        {% endif %}
                        <div class="cart-item__content"> 
                            <div class="cart-item__details flex-col">
                                <a class="cart-item__title" href="{{ product.href }}">Comfort Zone</a>
                                <span class="cart-item__type">{{ product.name }}
                                    {% for option in product.option %}
                                        <br>
                                        {{ option.name }}: {{ option.value }}
                                    {% endfor %}
                                </span>
                            </div>
                            <div class="cart-item__footer flex-row-wrap j-between">
                            <div class="product-price cart-item__price flex-row">
                                <span class="product-price__full">{{ product.total }}</span>
                            </div>
                            <div class="quant-block cart-item__quant-block flex-row"> 
                                <button class="quant-block__btn btn flex-center btn--border_gray" type="button" data-operation="minus" onclick="cart.update('{{ product.cart_id }}', '{{ product.quantity - 1}}')">
                                    {{ macros.svg('minus', '') }}
                                </button>
                                <input class="quant-block__input text--center" type="number" name="item_count" min="1" max="5" value="{{ product.quantity }}">
                                <button class="quant-block__btn btn flex-center btn--border_gray" type="button" data-operation="plus" onclick="cart.update('{{ product.cart_id }}', '{{ product.quantity + 1}}')">
                                    {{ macros.svg('plus', '') }}
                              </button>
                            </div>
                            <button class="btn flex-center icon cart-item__delete" type="button"  onclick="cart.remove('{{ product.cart_id }}');"> 
                                {{ macros.svg('delete', '')}}
                            </button>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="cart-modal__footer bg--white">
                {% for total in totals %}
                    <div class="cart-modal__sub-totals flex-row j-between border--end cart-modal__sub-totals--{{ total.code }}"> 
                        <p class="cart-modal__name">{{ total.title }}</p>
                        <p class="cart-modal__val text--end">{{ total.text }}</p>
                    </div>
               {% endfor %}
                <div class="cart-modal__btns flex-col">
                    <a class="btn btn--theme_accent btn--theme text--upp btn--size_M cart-modal__btn text--center text--size_label" href="{{ checkout }}">{{ text_checkout }}</a>
                    <button class="btn text--upp btn--size_M cart-modal__close" type="button" data-modal-close>  Продовжити покупки</button>
                </div>
            </div>
            {% else %}
                <div class="cart-modal__empty mx">
                    <h4 class="text--center text--size_h3-full">Кошик порожній</h4>
                    <button class="btn btn--theme_accent btn--theme text--upp btn--size_M cart-modal__btn text--center text--size_label" type="button" data-modal-close>Продовжити покупки</button>
                </div>
            {% endif %}


            <div class="loader backdrop__loader abs wh-full inset anim">
                <div class="loader__inner abs pos-center"></div>
            </div>
        </div>
    </div>
</div>