{% import "drmyts/template/macro/macros.twig" as macros %}

<footer class="footer">
    <div class="container footer__main">
        <div class="footer__logo-block">
            <div class="logo footer__logo" href="/">
                <picture>
                    {# <source srcset="./assets/pics/logo.svg" type="image/svg+xml" /> #}
                    <img src="{{ logo }}" alt="Dr Myts shop logo" loading="lazy" />
                </picture>
            </div>
            <p class="footer__txt">Експертно відібрані продукти від лікаря-дерматолога</p>
        </div>
        <div class="footer__nav flex-row-wrap">
            <div class="footer__menu-wr">
                <h3 class="footer__menu-title">{{ text_catalogue }}</h3>
                <div class="footer__menu">
                    {{ menu }}
                </div>
            </div>

            <div class="footer__menu-wr">
                <h3 class="footer__menu-title">{{ text_information }}</h3>
                <div class="footer__menu">
                    <div id="top"></div>
                </div>
            </div>
            <div class="footer__menu-wr">
                <h3 class="footer__menu-title">{{ text_service }}</h3>
                <ul class="footer__menu">
                    <div id="dmenu_editor-social"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container footer__copyright-container">
            <div class="footer__bottom-menu">
                <div id="dmenu_editor-footer"></div>
            </div>
            <p class="footer__copy">{{ powered }}</p>
        </div>
    </div>
</footer>
<template id="photoUploadTemplate">
    <div class="photo-upload__file rel o-hid">
        <picture><img class="cover-image" src="" alt="" loading="lazy" width="60" height="60" /></picture>
        <button class="photo-upload__delete btn flex-center icon abs" type="button">
            {{ macros.svg('close', 'anim') }}
        </button>
    </div>
</template>    
<template id="searchProductItem"> 
  <div class="cart-item live-search__product cart-item--type_search d-flex">
    <div class="cart-item__img"> 
      <picture> <img class="contain-image" src="" alt="" loading="lazy" width="56" height="56"></picture><a class="cart-item__link abs inset wh-full" href="/"></a>
    </div>
    <div class="cart-item__content"> 
      <div class="cart-item__details flex-col"><span class="cart-item__availability text--color_gray text--size_label d-block">В наявності</span><a class="cart-item__title" href="/"></a><span class="cart-item__type text--size_label"></span></div>
      <div class="cart-item__footer">
        <div class="product-price cart-item__price flex-row product-price--sale"><span class="product-price__full"></span><span class="product-price__sale"></span></div>
      </div>
    </div>
  </div>
</template>
<template id="searchTextItem">
    <a class="search-text-item live-search__item flex-row j-between" href="/">
        <div class="search-text-item__text text--color_gray"></div>
        <div class="search-text-item__icon">
            {{ macros.svg('arrow-next')}}
        </div>
    </a>
</template>

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
<script src="catalog/view/theme/drmyts/js/splide.min.js"></script>
<script src="catalog/view/theme/drmyts/js/common.js" type="text/javascript"></script>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}


<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>