{{ header }}
{% import "drmyts/template/macro/macros.twig" as macros %}

<main>
    <div class="page-title border--end">
        <div class="container page-title__container">
            <h1 class="text--upp text--size_h2-mob text--size_h2-desk page-title__title m-0">{{ heading_title }}</h1>
            <div class="breadcrumbs text--color_gray page-title__breadcrumbs">
                <div class="breadcrumbs__list flex-row">
                    {% for breadcrumb in breadcrumbs %}
                        <a class="breadcrumbs__item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <section class="sign-form"> 
        <div class="container sign-form__container"> 
          <h2 class="sign-form__title text--center text--size_h3-full">{{ heading_title }}</h2>
          <div class="sign-form__icon mx"> 
            {{ macros.svg('icon-check', 'wh-full') }}
          </div>
          <div class="sign-form__txt text--center mx"> 
            {{ text_message }}
          </div>
        </div>
    </section>
    
</main>

{{ footer }}