<div class="tab-pane active" id="tab-setting_menu_{{ menu_type }}" data-menu="{{ menu_type }}">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="module_dmenu_editor-status_{{ menu_type }}">{{ entry_status }}</label>
        <div class="col-sm-9">
            <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][status]" id="module_dmenu_editor-status_{{ menu_type }}" class="form-control">
                {% if module_settings['menu'][menu_type]['status'] %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
            </select>
        </div>
    </div>

    {% if menu_type != 'main' %}
        <div class="form-group">
            <label class="col-sm-3 control-label" for="module_dmenu_editor-menu_{{ menu_type }}_display">{{ entry_menu_display }}</label>
            <div class="col-sm-9">
                <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][display]" id="module_dmenu_editor-menu_{{ menu_type }}_display" class="form-control select-setting-display">
                    {% if module_settings['menu'][menu_type]['display'] %}
                        <option value="0">{{ entry_menu_display_option_0 }}</option>
                        <option value="1" selected="selected">{{ entry_menu_display_option_1 }}</option>
                    {% else %}
                        <option value="0" selected="selected">{{ entry_menu_display_option_0 }}</option>
                        <option value="1">{{ entry_menu_display_option_1 }}</option>
                    {% endif %}
                </select>

                <div class="field-display-info" {% if module_settings['menu'][menu_type]['display_hide'] %}style="display: none;"{% endif %}>
                    <div id="alert-{{ menu_type }}_display-0" class="alert alert-info" {% if module_settings['menu'][menu_type]['display'] %}style="display: none;"{% endif %}>
                        <div class="dmenu-alert-icon">
                            <i class="fa fa-info-circle"></i>
                        </div>
                        <div class="dmenu-alert-content">
                            {% if menu_type == 'top' %}
                                {{ help_alert_top_display_0 }}
                            {% elseif menu_type == 'footer' %}
                                {{ help_alert_footer_display_0 }}
                            {% elseif menu_type == 'social' %}
                                {{ help_alert_social_display_0 }}
                            {% else %}
                                <div></div>
                            {% endif %}
                        </div>
                    </div>

                    <div id="alert-{{ menu_type }}_display-1" class="alert alert-info" {% if not module_settings['menu'][menu_type]['display'] %}style="display: none;"{% endif %}>
                        <div class="dmenu-alert-icon">
                            <i class="fa fa-info-circle"></i>
                        </div>
                        <div class="dmenu-alert-content">
                            {% if menu_type == 'top' %}
                                {{ help_alert_top_display_1 }}
                            {% elseif menu_type == 'footer' %}
                                {{ help_alert_footer_display_1 }}
                            {% elseif menu_type == 'social' %}
                                {{ help_alert_social_display_1 }}
                            {% else %}
                                <div></div>
                            {% endif %}

                            <div class="block">
                                <div class="block-title">{{ text_add_code }}</div>
                                <div>
                                    <code>&lt;div id="dmenu_editor-{{ menu_type }}"&gt;&lt;/div&gt;</code>
                                </div>
                            </div>

                            <div class="block block-copy">
                                <button type="button" class="btn btn-info copy-code">{{ button_copy_code }}</button>
                                <span class="message">&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field-display-hide">
                    <div class="input-group pull-left">
                        <div class="checkbox">
                            <label for="module_dmenu_editor-menu_{{ menu_type }}_display_hide">
                                <input type="checkbox" name="module_dmenu_editor_settings[menu][{{ menu_type }}][display_hide]" id="module_dmenu_editor-menu_{{ menu_type }}_display_hide" class="form-control" value="1" {% if module_settings['menu'][menu_type]['display_hide'] %}checked="checked"{% endif %}> {{ entry_menu_display_hide }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-3 control-label" for="module_dmenu_editor-menu_{{ menu_type }}_title_status">{{ entry_title_menu }}</label>
        <div class="col-sm-9">
            <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][title][status]" id="module_dmenu_editor-menu_{{ menu_type }}_title_status" class="form-control" style="margin-bottom: 10px !important;">
                {% if module_settings['menu'][menu_type]['title']['status'] %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
            </select>

            <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][title][display]" id="module_dmenu_editor-menu_{{ menu_type }}_title_display" class="form-control" style="margin-bottom: 10px !important;">
                <option value="">{{ text_select_none }}</option>
                <option value="desktop" {% if module_settings['menu'][menu_type]['title']['display'] == 'desktop' %}selected="selected"{% endif %}>{{ text_show_on_desktop }}</option>
                <option value="desktab" {% if module_settings['menu'][menu_type]['title']['display'] == 'desktab' %}selected="selected"{% endif %}>{{ text_show_on_desktab }}</option>
                <option value="deskmob" {% if module_settings['menu'][menu_type]['title']['display'] == 'deskmob' %}selected="selected"{% endif %}>{{ text_show_on_deskmob }}</option>
                <option value="tablet" {% if module_settings['menu'][menu_type]['title']['display'] == 'tablet' %}selected="selected"{% endif %}>{{ text_show_on_tablet }}</option>
                <option value="tabmob" {% if module_settings['menu'][menu_type]['title']['display'] == 'tabmob' %}selected="selected"{% endif %}>{{ text_show_on_tabmob }}</option>
                <option value="mobile" {% if module_settings['menu'][menu_type]['title']['display'] == 'mobile' %}selected="selected"{% endif %}>{{ text_show_on_mobile }}</option>
                <option value="device" {% if module_settings['menu'][menu_type]['title']['display'] == 'device' %}selected="selected"{% endif %}>{{ text_show_on_device }}</option>
            </select>

            {% for language in languages %}
                <div class="input-group pull-left" style="margin-bottom: 5px;">
                    <span class="input-group-addon">
                        <img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" />
                    </span>

                    <input type="text" name="module_dmenu_editor_settings[menu][{{ menu_type }}][title][names][language_{{ language['language_id'] }}]" value="{% if module_settings['menu'][menu_type]['title']['names']['language_' ~ language.language_id] is defined %}{{ module_settings['menu'][menu_type]['title']['names']['language_' ~ language.language_id] }}{% endif %}" placeholder="{{ entry_title_menu }}" id="module_dmenu_editor-menu_{{ menu_type }}_title_name_{{ language['language_id'] }}" class="form-control title_name_{{ language['language_id'] }}">
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="module_dmenu_editor-menu_{{ menu_type }}_mobile_status">{{ entry_menu_mobile }}</label>
        <div class="col-sm-9">
            <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][mobile][status]" id="module_dmenu_editor-menu_{{ menu_type }}_mobile_status" class="form-control" style="margin-bottom: 10px !important;">
                {% if module_settings['menu'][menu_type]['mobile']['status'] %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
            </select>

            <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][mobile][close]" id="module_dmenu_editor-menu_{{ menu_type }}_mobile_close" class="form-control">
                <option value="0" {% if module_settings['menu'][menu_type]['mobile']['close'] == '0' %}selected="selected"{% endif %}>{{ text_close_by_button }}</option>
                <option value="1" {% if module_settings['menu'][menu_type]['mobile']['close'] == '1' %}selected="selected"{% endif %}>{{ text_close_by_gesture }}</option>
                <option value="2" {% if module_settings['menu'][menu_type]['mobile']['close'] == '2' %}selected="selected"{% endif %}>{{ text_close_by_button_gesture }}</option>
            </select>
        </div>
    </div>

    {% if menu_type == 'top' %}
        <div class="form-group">
            <label class="col-sm-3 control-label" for="module_dmenu_editor-menu_{{ menu_type }}_currency">{{ entry_menu_currency }}</label>
            <div class="col-sm-9">
                <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][currency]" id="module_dmenu_editor-menu_{{ menu_type }}_currency" class="form-control">
                    {% if module_settings['menu'][menu_type]['currency'] %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                    {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="module_dmenu_editor-menu_{{ menu_type }}_language">{{ entry_menu_language }}</label>
            <div class="col-sm-9">
                <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][language]" id="module_dmenu_editor-menu_{{ menu_type }}_language" class="form-control">
                    {% if module_settings['menu'][menu_type]['language'] %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                    {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                </select>
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-3 control-label" for="module_dmenu_editor-menu_{{ menu_type }}_icon_status">{{ entry_icon }}</label>
        <div class="col-sm-9">
            <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][icon][status]" id="module_dmenu_editor-menu_{{ menu_type }}_icon_status" class="form-control" style="margin-bottom: 10px;">
                {% if module_settings['menu'][menu_type]['icon']['status'] %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
            </select>

            <div class="row" style="margin-bottom: 10px;">
                <div class="col-sm-2">
                    <input type="number" name="module_dmenu_editor_settings[menu][{{ menu_type }}][icon][width]" step="1" min="1" max="100" value="{{ module_settings['menu'][menu_type]['icon']['width'] }}" id="module_dmenu_editor-menu_{{ menu_type }}_icon_width" class="form-control" placeholder="{{ text_icon_width }}">
                </div>
                <div class="col-sm-2">
                    <input type="number" name="module_dmenu_editor_settings[menu][{{ menu_type }}][icon][height]" step="1" min="1" max="100" value="{{ module_settings['menu'][menu_type]['icon']['height'] }}" id="module_dmenu_editor-menu_{{ menu_type }}_icon_height" class="form-control" placeholder="{{ text_icon_height }}">
                </div>
            </div>

            <select name="module_dmenu_editor_settings[menu][{{ menu_type }}][icon][sprite]" id="module_dmenu_editor-menu_{{ menu_type }}_icon_sprite" class="form-control">
                <option value="0" {% if module_settings['menu'][menu_type]['icon']['sprite'] == '0' %}selected="selected"{% endif %}>{{ text_icon_sprite_off }}</option>
                <option value="1" {% if module_settings['menu'][menu_type]['icon']['sprite'] == '1' %}selected="selected"{% endif %}>{{ text_icon_sprite_on }}</option>
            </select>
            <div class="dmenu-form-text">{{ help_icon_sprite }}</div>
        </div>
    </div>
</div>