{{ header }}

<main>
        
    <div id="content" class="{{ class }}">
        {{ content_top }}
        {{ content_bottom }}
        {# {% if description %}
        <section class="text-content">
            <div class="container text-content__container"> 
                {{ description }}
            </div>
        </div>
        {% endif %} #}
    </div>
</main>

</div>
{{ footer }}