{{ header }}

{% import "drmyts/template/macro/macros.twig" as macros %}

<main>
    <div class="page-title border--end">
        <div class="container page-title__container">
            <h1 class="text--upp text--size_h2-mob text--size_h2-desk page-title__title m-0">{{ heading_title }}</h1>
            <div class="breadcrumbs text--color_gray page-title__breadcrumbs">
                <div class="breadcrumbs__list flex-row">
                    {% for breadcrumb in breadcrumbs %}
                        <a class="breadcrumbs__item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <section class="account">
        <div class="container account__container">
            <div class="account__nav flex-col border--end">
                <a class="flex-row account__nav-item text--upp" href="{{ edit }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('user', '') }}
                    </div>
                    <span>{{ text_edit }}</span>
                </a>
                <a class="flex-row account__nav-item text--upp" href="{{ wishlist }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('heart', '') }}
                    </div>
                    <span>{{ text_wishlist }}</span>
                </a>
                <a class="flex-row account__nav-item text--upp" href="{{ order }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('shopping-bag', '') }}
                    </div>
                    <span>{{ text_order }}</span>
                </a>
                <a class="flex-row account__nav-item text--upp" href="{{ logout }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('logout', '') }}
                    </div>
                    <span>{{ text_logout }}</span>
                </a>
            </div>
            <div class="account__content">
                <h2 class="account__subtitle text--size_h3-full">Контактна інформація</h2>
                {% if success %}
                    <div class="flex-row account__success">
                        <div class="icon account__success-icon">
                            {{ macros.svg('icon-check', '') }}
                        </div>
                        <span>{{ success }}</span>
                    </div>
                {% endif %}
                <form class="account-details d-grid" action="/">
                    <div class="account-details__col flex-col">
                        <div class="account-details__field custom-input">
                            <label class="custom-input__label text--color_gray" for="user_name">Ваше ім’я</label>
                            <input class="custom-input__input" type="text" name="user_name" placeholder="Ваше ім’я " value="Вероніка" required id="user_name" />
                            <div class="custom-input__error d-none">Поле обов'язкове до заповнення</div>
                        </div>
                        <div class="account-details__field custom-input">
                            <label class="custom-input__label text--color_gray" for="user_surname">Прізвище</label>
                            <input class="custom-input__input" type="text" name="user_surname" placeholder="Прізвище" value="Кравчук" required id="user_surname" />
                            <div class="custom-input__error d-none">Поле обов'язкове до заповнення</div>
                        </div>
                        <div class="account-details__field custom-input invalid">
                            <label class="custom-input__label text--color_gray" for="user_email">E-mail</label>
                            <input class="custom-input__input" type="email" name="user_email" placeholder="E-mail" value="example@gmail.com" required id="user_email" />
                            <div class="custom-input__error d-none">Поле обов'язкове до заповнення</div>
                        </div>
                        <div class="account-details__field custom-input">
                            <label class="custom-input__label text--color_gray" for="user_tel">Номер телефону</label>
                            <input class="custom-input__input" type="text" name="user_tel" placeholder="Номер телефону" value="+38 (068) 000 20 25" required id="user_tel" />
                            <div class="custom-input__error d-none">Поле обов'язкове до заповнення</div>
                        </div>
                    </div>
                    <div class="account-details__col flex-col">
                        <div class="account-details__field custom-input custom-input--type_password rel">
                            <label class="custom-input__label text--color_gray" for="old_pass">Старий пароль</label>
                            <input class="custom-input__input" type="password" name="old_pass" placeholder="Пароль" required id="old_pass" />
                            <button class="btn flex-center custom-input__icon abs" type="button">
                                <svg class="anim" role="presentation">
                                    <use href="./assets/svg/sprite.svg#eye"></use>
                                </svg>
                            </button>
                            <div class="custom-input__error d-none">Поле обов'язкове до заповнення</div>
                        </div>
                        <div class="account-details__field custom-input custom-input--type_password rel">
                            <label class="custom-input__label text--color_gray" for="new_pass">Новий пароль</label>
                            <input class="custom-input__input" type="password" name="new_pass" placeholder="Пароль" value="qwerty2025" required id="new_pass" />
                            <button class="btn flex-center custom-input__icon abs" type="button">
                                <svg class="anim" role="presentation">
                                    <use href="./assets/svg/sprite.svg#eye"></use>
                                </svg>
                            </button>
                            <div class="custom-input__error d-none">Поле обов'язкове до заповнення</div>
                        </div>
                        <div class="account-details__field custom-input custom-input--type_password rel">
                            <label class="custom-input__label text--color_gray" for="new_pass_again">Повторіть пароль</label>
                            <input class="custom-input__input" type="password" name="new_pass_again" placeholder="Пароль" value="qwerty2025" required id="new_pass_again" />
                            <button class="btn flex-center custom-input__icon abs" type="button">
                                <svg class="anim" role="presentation">
                                    <use href="./assets/svg/sprite.svg#eye"></use>
                                </svg>
                            </button>
                            <div class="custom-input__error d-none">Поле обов'язкове до заповнення</div>
                        </div>
                    </div>
                    <button class="btn btn--theme btn--theme_accent text--upp btn--size_M d-block account-details__btn" type="submit">Зберегти</button>
                </form>
            </div>
        </div>
    </section>
</main>

{{ footer }}