{{ header }}

{% import "drmyts/template/macro/macros.twig" as macros %}
{% import "drmyts/template/macro/sidemenu.twig" as menus %}
{% import "drmyts/template/macro/sections.twig" as sections %}

<main id="content">
    {{ content_top }}
    {{ sections.pageTitle(heading_title, breadcrumbs) }}

    <section class="account" id="account">
        <div class="container account__container">
            {{ menus.accountMenu(edit, text_edit, wishlist, text_wishlist_nav, order, text_order, password_change, text_password_page, logout, text_logout, 'order') }}
            
            <div class="account__content">
                <h2 class="account__subtitle text--size_h3-full">{{ text_history }}</h2>
                
                
                    <div class="orders">
                        <div class="orders__types">
                            <div class="orders__row flex-row">
                                <a href="{{ filter_url_all }}" class="btn btn--full_gray btn--size_S orders__btn text--size_label {{ current_filter == 'all' ? 'active' : '' }}">{{ filter_all }}</a>
                                <a href="{{ filter_url_month }}" class="btn btn--full_gray btn--size_S orders__btn text--size_label {{ current_filter == 'month' ? 'active' : '' }}">{{ filter_this_month }}</a>
                                <a href="{{ filter_url_last_month }}" class="btn btn--full_gray btn--size_S orders__btn text--size_label {{ current_filter == 'last_month' ? 'active' : '' }}">{{ filter_last_month }}</a>
                                <a href="{{ filter_url_year }}" class="btn btn--full_gray btn--size_S orders__btn text--size_label {{ current_filter == 'year' ? 'active' : '' }}">{{ filter_this_year }}</a>
                                <a href="{{ filter_url_last_year }}" class="btn btn--full_gray btn--size_S orders__btn text--size_label {{ current_filter == 'last_year' ? 'active' : '' }}">{{ filter_last_year }}</a>
                            </div>
                        </div>

                        {% if orders %}
                            <div class="orders__tab flex-col">
                                {% for order in orders %}
                                <div class="order-item orders__order-item">
                                    <div class="order-item__heading rel">
                                        <button class="btn icon flex-center order-item__arrow icon--arrow abs" type="button">
                                            {{ macros.svg('arrow-down') }}
                                        </button>
                                        
                                        <div class="order-item__details flex-row-wrap j-between">
                                            <div class="order-item__title text--color_gray">{{ column_order_id }}{{ order.order_id }}, {{ order.date_added }}</div>
                                            <div class="order-item__status">{{ order.status }}</div>
                                            <div class="order-item__price-wr flex-col">
                                                <span class="text--color_gray d-none order-item__price-title">{{ column_total }}</span>
                                                <span>{{ order.total }}</span>
                                            </div>
                                        </div>

                                        <div class="order-item__previews flex-row-wrap">
                                            {% for product in order.products_list|slice(0, 4) %}
                                            <div class="order-item__preview bg--white">
                                                <picture>
                                                    <img class="contain-image" src="{{ product.image }}" alt="{{ product.name }}" width="40" height="40" loading="lazy">
                                                </picture>
                                            </div>
                                            {% endfor %}

       
                                            {% if order.products_list|length > 4 %}
                                                <div class="order-item__more-items">+{{ order.products_list|length - 4 }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="order-item__items-list flex-col">
                                        {% for product in order.products_list %}
                                        <div class="cart-item order-item__item cart-item--type_order d-flex">
                                            <div class="cart-item__img">
                                                <picture>
                                                    <img class="contain-image" src="{{ product.image }}" alt="{{ product.name }}" loading="lazy" width="56" height="56">
                                                </picture>
                                                <a class="cart-item__link abs inset wh-full" href="{{ product.href }}">{{ product.name }}</a>
                                            </div>
                                            <div class="cart-item__content">
                                                <div class="cart-item__details flex-col">
                                                    <a class="cart-item__title" href="{{ product.href }}">{{ product.name }}</a>
                                                    <span class="cart-item__type">{{ product.model }}</span>
                                                </div>
                                                <div class="cart-item__footer flex-row-wrap j-between">
                                                    <div class="cart-item__count">{{ product.quantity }} {{ column_quantity }}</div>
                                                    <div class="product-price cart-item__price flex-row">
                                                        <span class="product-price__full">{{ product.total }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                       
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% if pagination %}
                            <div class="pagination-wrapper orders__pagination">
                                {{ pagination }}
                            </div>
                            {% endif %}
                        {% else %}
                            <div class="account-empty text--center flex-center flex-col">
                                <h3 class="account-empty__title">{{ text_empty }}</h3>
                                <p>{{ text_empty_instructions }}</p>
                            </div>
                        {% endif %}
                    </div>  
            </div>
        </div>
    </section>
    {{ content_bottom }}
</main>

{{ footer }}