{{ header }}

{% import "drmyts/template/macro/macros.twig" as macros %}
{% import "drmyts/template/macro/sidemenu.twig" as menus %}
{% import "drmyts/template/macro/sections.twig" as sections %}

<main id="content">
    {{ content_top }}
    {{ sections.pageTitle(heading_title, breadcrumbs) }}
    <section class="account">
        <div class="container account__container">
            {{ menus.accountMenu(edit, text_edit, wishlist, text_wishlist, order, text_order, password_change, text_password_page, logout, text_logout, 'password') }}

            <div class="account__content">
                {% if success %}
                    <div class="flex-row account__success">
                        <div class="icon account__success-icon">
                            {{ macros.svg('icon-check', '') }}
                        </div>
                        <span>{{ success }}</span>
                    </div>
                {% endif %}

                <form class="account-details" action="{{ action }}" method="post" enctype="multipart/form-data">

                    <div class="account-details__col d-grid">
                        {# <div class="account-details__field custom-input custom-input--type_password rel">
                            <label class="custom-input__label text--color_gray" for="old_pass">Старий пароль</label>
                            <input class="custom-input__input" type="password" name="old_pass" placeholder="Пароль" id="old_pass" />
                            <button class="btn flex-center custom-input__icon abs" type="button">
                                {{ macros.svg('eye', 'anim') }}
                            </button>
                            <div class="custom-input__error d-none">Поле обов'язкове до заповнення</div>
                        </div> #}
                        <div class="account-details__field custom-input custom-input--type_password rel {% if error_password %}invalid {% endif %}">
                            <label class="custom-input__label text--color_gray" for="input-password">{{ entry_password }}</label>
                            <input class="custom-input__input" type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password"  />
                            <button class="btn flex-center custom-input__icon abs" type="button">
                                {{ macros.svg('eye', 'anim') }}
                            </button>
                            {% if error_password %}
                                <div class="custom-input__error">{{ error_password }}</div>
                            {% endif %}
                        </div>
                        <div class="account-details__field custom-input custom-input--type_password rel {% if error_confirm %}invalid {% endif %}">
                            <label class="custom-input__label text--color_gray" for="input-confirm">{{ entry_confirm }}</label>
                            <input class="custom-input__input" type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" />
                            <button class="btn flex-center custom-input__icon abs" type="button">
                                {{ macros.svg('eye', 'anim') }}
                            </button>
                            {% if error_confirm %}
                                <div class="custom-input__error">{{ error_confirm }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <button class="btn btn--theme btn--theme_accent text--upp btn--size_M d-block account-details__btn" type="submit">{{ button_save }}</button>
                </form>
            </div>
        </div>
    </section>
    {{ content_bottom }}
</main>
{{ footer }}