{{ header }}

{% import "drmyts/template/macro/sections.twig" as sections %}
{% import "drmyts/template/macro/macros.twig" as macros %}

<main id="content">
    {{ content_top }}
    {{ sections.pageTitle(heading_title, breadcrumbs) }}

    <section class="sign-form"  id="account-reset" >
        <div class="container sign-form__container">
            <h2 class="sign-form__title text--center text--size_h3-full">{{ heading_title }}</h2>
            <form class="sign-form__form mx" action="{{ action }}" method="post" enctype="multipart/form-data">
                <div class="sign-form__fields flex-col">
                    <div class="sign-form__field custom-input custom-input--type_password rel {% if error_password %}invalid{% endif %}">
                        <input class="custom-input__input"  type="password" name="password" value="{{ password }}" id="input-password" placeholder="{{ entry_password }}" required />
                        <button class="btn flex-center custom-input__icon abs" type="button">
                            {{ macros.svg('eye', 'anim') }}
                        </button>
                        {% if error_password %}
                            <div class="custom-input__error">{{ error_password  }}</div>
                        {% endif %}
                    </div>
                    <div class="sign-form__field custom-input custom-input--type_password rel {% if error_confirm %}invalid{% endif %}">
                        <input class="custom-input__input" type="password" name="confirm" value="{{ confirm }}" id="input-confirm"  placeholder="{{ entry_confirm }}" required />
                        <button class="btn flex-center custom-input__icon abs" type="button">
                            {{ macros.svg('eye', 'anim') }}
                        </button>
                        {% if error_confirm %}
                        <div class="custom-input__error">{{ error_confirm }}</div>
                        {% endif %}
                    </div>
                </div>
                <button class="text--upp btn--theme btn--theme_accent w-full btn btn--size_M sign-form__submit" type="submit">{{ button_continue }}</button>
            </form>
        </div>
    </section>
    {{ content_bottom }}
</main>
{{ footer }}