{{ header }}

{% import "drmyts/template/macro/macros.twig" as macros %}

<main>
	<div class="page-title border--end">
		<div class="container page-title__container">
			<h1 class="text--upp text--size_h2-mob text--size_h2-desk page-title__title m-0">{{ heading_title }}</h1>
			<div class="breadcrumbs text--color_gray page-title__breadcrumbs">
				<div class="breadcrumbs__list flex-row">
					{% for breadcrumb in breadcrumbs %}
                        <a class="breadcrumbs__item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
	<section class="account">
		<div class="container account__container">
			<div class="account__nav flex-col border--end">
                <a class="flex-row account__nav-item text--upp" href="{{ edit }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('user', '') }}
                    </div>
                    <span>{{ text_edit }}</span>
                </a>
                <a class="flex-row account__nav-item text--upp active" href="{{ wishlist }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('heart', '') }}
                    </div>
                    <span>{{ text_wishlist_nav }}</span>
                </a>
                <a class="flex-row account__nav-item text--upp" href="{{ order }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('shopping-bag', '') }}
                    </div>
                    <span>{{ text_order }}</span>
                </a>
                <a class="flex-row account__nav-item text--upp" href="{{ password_change }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('password', '') }}
                    </div>
                    <span>{{ text_password_page }}</span>
                </a>
                <a class="flex-row account__nav-item text--upp" href="{{ logout }}">
                    <div class="icon account__nav-icon">
                        {{ macros.svg('logout', '') }}
                    </div>
                    <span>{{ text_logout }}</span>
                </a>
            </div>
			<div class="account__content">
				<h2 class="account__subtitle text--size_h3-full">{{ text_wishlist_nav }} {% if products|length > 0 %}<span class="text--color_gray">({{ products|length }})</span>{% endif %}</h2>
                {% if products %}
                    <div class="wishlist flex-col">
                        {% for product in products %}
						<div class="cart-item wishlist__item cart-item--type_wishlist d-flex">
                            {% if product.thumb %}
    							<div class="cart-item__img">
    								<picture>
    									<img class="contain-image" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" loading="lazy" width="56" height="56">
                                    </picture>
    								<a class="cart-item__link abs inset wh-full" href="{{ product.href }}">{{ product.name }}</a>
    							</div>
                            {% endif %}
							<div class="cart-item__content">
								<div class="cart-item__details flex-col">
									<a class="cart-item__title" href="{{ product.href }}">{{ product.name }}</a>
									<span class="cart-item__type">{{ product.model }}</span>
									<div class="product-price cart-item__price flex-row {% if product.special %} product-price--sale {% endif %}">
										<span class="product-price__full">{{ product.price }}</span>
                                        {% if product.special %}
                                            <span class="product-price__sale">{{ product.special }}</span>
                                        {% endif %}
									</div>
								</div>
								<div class="cart-item__footer flex-row-wrap j-end">
									<a href="{{ product.remove }}" class="btn flex-center icon cart-item__delete">
                                        {{ macros.svg('delete', '' )}}
									</a>
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
                {% else %}
    				<div class="account-empty text--center flex-center flex-col">
    					<h3 class="account-empty__title">{{ text_empty }}</h3>
    					<p> {{ text_wishlist_before_icon}}
                        <span class="icon icon--arrow">
                            {{ macros.svg('heart', '') }}
    					</span>
                        {{ text_wishlist_after_icon }}</p>
    				</div>
                {% endif %}
			</div>
		</div>
	</section>
</main>
{{ footer }}
