<div class="module-dmenu_editor-style">
    <div class="style_container">
        <div class="style_sidebar">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-style-menu_main" data-toggle="tab">{{ tab_menu_main }}</a></li>
                <li><a href="#tab-style-menu_top" data-toggle="tab">{{ tab_menu_top }}</a></li>
                <li><a href="#tab-style-menu_footer" data-toggle="tab">{{ tab_menu_footer }}</a></li>
                <li><a href="#tab-style-menu_social" data-toggle="tab">{{ tab_menu_social }}</a></li>
            </ul>
        </div>

        <div class="module_style">
            <div class="tab-content">
                <div class="tab-pane active" id="tab-style-menu_main">{{ style_menu_main }}</div>
                <div class="tab-pane" id="tab-style-menu_top">{{ style_menu_top }}</div>
                <div class="tab-pane" id="tab-style-menu_footer">{{ style_menu_footer }}</div>
                <div class="tab-pane" id="tab-style-menu_social">{{ style_menu_social }}</div>
            </div>

            <hr>

            <div class="form-module_dmenu_editor-notes">
                <div>* <strong>{{ help_desktop_ultra_label }}</strong> - {{ help_desktop_ultra }}</div>
                <div>* <strong>{{ help_desktop_hd_label }}</strong> - {{ help_desktop_hd }}</div>
                <div>* <strong>{{ help_tablet_label }}</strong> - {{ help_tablet }}</div>
                <div>* <strong>{{ help_mobile_label }}</strong> - {{ help_mobile }}</div>
            </div>
        </div>
    </div>
</div>