<div class="simplecheckout-block" id="simplecheckout_shipping_address" {{ hide ? 'data-hide="true"' : '' }} {{ display_error and has_error ? 'data-error="true"' : '' }}>
  {% if display_header %}
    <div class="checkout-form__group-heading border--end"> 
        <h3 class="checkout-form__group-title text--size_h3-full m-0">{{ text_checkout_shipping_address }}</h3>
      </div>
  {% endif %}
  <div class="simplecheckout-block-content">
    {% for row in rows %}
      {{ row }}
    {% endfor %}
    {% for row in hidden_rows %}
      {{ row }}
    {% endfor %}
  </div>
</div>