<div class="form-group sticky-menu_item_wrap open">
    <div class="sticky-menu_item">
        <div class="text-left sticky-menu_item_title">
            <span>{{ entry_add_pages }}</span>
            <i class="fa fa-angle-down"></i>
        </div>

        <div class="sticky-menu_item_content tab-content" style="display: block;">
            <div class="sticky_menu_item_under_wrap">
                <div class="sticky_menu_item_last_wrap sticky-clone-sortable">
                    <div class="sticky-menu_item-item sticky-menu_item-item_0">
                        <span data-id="0" data-url_link="" data-layout="custom" 
                            {% for language in languages %}
                                data-name_{{ language['language_id'] }}="{{ other_pages['custom']['names']['language_' ~ language.language_id] }}" 
                                data-url_seo_{{ language['language_id'] }}="" 
                            {% endfor %}
                        >{{ entry_add_custom_link }}</span>
                    </div>
                </div>
            </div>

            <div class="sticky-menu_item_tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-general_sticky_pages_last" data-toggle="tab">{{ tab_sticky_all }}</a>
                    </li>
                </ul>
            </div>

            <div class="tab-pane active" id="tab-general_sticky_pages_last">
                <div class="sticky_menu_item_last_wrap sticky-clone-sortable">
                    {% for opencart_page in opencart_pages %}
                        <div class="sticky-menu_item-item sticky-menu_item-item_{{ loop.index0 }}">
                            <span data-id="{{ opencart_page['id'] }}" data-url_link="{{ opencart_page['url']['link'] }}" data-layout="{{ opencart_page['layout'] }}" 
                                {% for language in languages %}
                                    data-name_{{ language['language_id'] }}="{{ opencart_page['names']['language_' ~ language.language_id] }}" 
                                    data-url_seo_{{ language['language_id'] }}="{% if opencart_page['url']['seo']['language_' ~ language.language_id] is defined %}{{ opencart_page['url']['seo']['language_' ~ language.language_id] }}{% endif %}" 
                                {% endfor %}
                            >{{ opencart_page['title'] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if information %}
    <div class="form-group sticky-menu_item_wrap">
        <div class="sticky-menu_item">
            <div class="text-left sticky-menu_item_title">
                <span>{{ entry_add_info }}</span>
                <i class="fa fa-angle-down"></i>
            </div>

            <div class="sticky-menu_item_content tab-content">
                <div class="sticky-menu_item_tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general_sticky_information_first" data-toggle="tab">{{ tab_sticky_first ~ ' ' ~ information_limit }}</a>
                        </li>

                        <li>
                            <a href="#tab-general_sticky_information_search" data-toggle="tab">{{ tab_sticky_search }}</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-pane active" id="tab-general_sticky_information_first">
                    <div class="sticky_menu_item_last_wrap sticky-clone-sortable">
                        {% for key_info, info in information %}
                            <div class="sticky-menu_item-item sticky-menu_item-item_{{ key_info }}">
                                <span data-id="{{ info['id'] }}" data-url_link="{{ info['url']['link'] }}" data-layout="{{ info['layout'] }}" 
                                    {% for language in languages %}
                                        data-name_{{ language['language_id'] }}="{% if info['names']['language_' ~ language.language_id] is defined %}{{ info['names']['language_' ~ language.language_id] }}{% endif %}" 
                                        data-url_seo_{{ language['language_id'] }}="{% if info['url']['seo']['language_' ~ language.language_id] is defined %}{{ info['url']['seo']['language_' ~ language.language_id] }}{% endif %}" 
                                    {% endfor %}
                                >{% if info['title'] is not empty %}{{ info['title'] }}{% else %}{{ note_title_empty }}{% endif %}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane" id="tab-general_sticky_information_search">
                    <div class="sticky_menu_item_search_form">
                        <input type="search" id="sticky-information-search-field" class="form-control sticky_menu_item_search_input" value="">
                        <button type="button" class="sticky_menu_item_search_button" data-text_loading="{{ button_sticky_load }}" data-layout="information">{{ button_sticky_search }}</button>
                    </div>

                    <div class="sticky_menu_item_search_help">
                        <div style="color: #f00;">*</div>
                        <div>{{ search_limit_text }}</div>
                    </div>

                    <div class="sticky_menu_item_search_content">
                        <div class="sticky_menu_item_search_wrap sticky-clone-sortable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="form-group sticky-menu_item_wrap">
    <div class="sticky-menu_item">
        <div class="text-left sticky-menu_item_title">
            <span>{{ entry_add_categories }}</span>
            <i class="fa fa-angle-down"></i>
        </div>

        <div class="sticky-menu_item_content tab-content">
            <div class="sticky_menu_item_under_wrap">
                <div class="sticky_menu_item_last_wrap sticky-clone-sortable">
                    <div class="sticky-menu_item-item sticky-menu_item-item_0">
                        <span data-id="0" data-url_link="" data-layout="catalog" 
                            {% for language in languages %}
                                data-name_{{ language['language_id'] }}="{{ other_pages['catalog']['names']['language_' ~ language.language_id] }}" 
                                data-url_seo_{{ language['language_id'] }}="" 
                            {% endfor %}
                        >{{ text_all_category }}</span>
                    </div>
                </div>
            </div>

            {% if categories %}
                <div class="sticky-menu_item_tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general_sticky_categories_last" data-toggle="tab">{{ tab_sticky_last ~ ' ' ~ categories_limit }}</a>
                        </li>

                        <li>
                            <a href="#tab-general_sticky_categories_search" data-toggle="tab">{{ tab_sticky_search }}</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-pane active" id="tab-general_sticky_categories_last">
                    <div class="sticky_menu_item_last_wrap sticky-clone-sortable">
                        {% for key_category, category in categories %}
                            <div class="sticky-menu_item-item sticky-menu_item-item_{{ key_category }}">
                                <span data-id="{{ category['id'] }}" data-url_link="{{ category['url']['link'] }}" data-layout="{{ category['layout'] }}" 
                                    {% for language in languages %}
                                        data-name_{{ language['language_id'] }}="{% if category['names']['language_' ~ language.language_id] is defined %}{{ category['names']['language_' ~ language.language_id] }}{% endif %}" 
                                        data-url_seo_{{ language['language_id'] }}="{% if category['url']['seo']['language_' ~ language.language_id] is defined %}{{ category['url']['seo']['language_' ~ language.language_id] }}{% endif %}" 
                                    {% endfor %}
                                >{% if category['title'] is not empty %}{{ category['title'] }}{% else %}{{ note_title_empty }}{% endif %}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane" id="tab-general_sticky_categories_search">
                    <div class="sticky_menu_item_search_form">
                        <input type="search" id="sticky-categories-search-field" class="form-control sticky_menu_item_search_input" value="">
                        <button type="button" class="sticky_menu_item_search_button" data-text_loading="{{ button_sticky_load }}" data-layout="category">{{ button_sticky_search }}</button>
                    </div>

                    <div class="sticky_menu_item_search_help">
                        <div style="color: #f00;">*</div>
                        <div>{{ search_limit_text }}</div>
                    </div>

                    <div class="sticky_menu_item_search_content">
                        <div class="sticky_menu_item_search_wrap sticky-clone-sortable"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% if products %}
    <div class="form-group sticky-menu_item_wrap">
        <div class="sticky-menu_item">
            <div class="text-left sticky-menu_item_title">
                <span>{{ entry_add_products }}</span>
                <i class="fa fa-angle-down"></i>
            </div>

            <div class="sticky-menu_item_content tab-content">
                <div class="sticky-menu_item_tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general_sticky_products_last" data-toggle="tab">{{ tab_sticky_last ~ ' ' ~ products_limit }}</a>
                        </li>

                        <li>
                            <a href="#tab-general_sticky_products_search" data-toggle="tab">{{ tab_sticky_search }}</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-pane active" id="tab-general_sticky_products_last">
                    <div class="sticky_menu_item_last_wrap sticky-clone-sortable">
                        {% for key_product, product in products %}
                            <div class="sticky-menu_item-item sticky-menu_item-item_{{ key_product }}">
                                <span data-id="{{ product['id'] }}" data-url_link="{{ product['url']['link'] }}" data-layout="{{ product['layout'] }}" 
                                    {% for language in languages %}
                                        data-name_{{ language['language_id'] }}="{% if product['names']['language_' ~ language.language_id] is defined %}{{ product['names']['language_' ~ language.language_id] }}{% endif %}" 
                                        data-url_seo_{{ language['language_id'] }}="{% if product['url']['seo']['language_' ~ language.language_id] is defined %}{{ product['url']['seo']['language_' ~ language.language_id] }}{% endif %}" 
                                    {% endfor %}
                                >{% if product['title'] is not empty %}{{ product['title'] }}{% else %}{{ note_title_empty }}{% endif %}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane" id="tab-general_sticky_products_search">
                    <div class="sticky_menu_item_search_form">
                        <input type="search" id="sticky-products-search-field" class="form-control sticky_menu_item_search_input" value="">
                        <button type="button" class="sticky_menu_item_search_button" data-text_loading="{{ button_sticky_load }}" data-layout="product">{{ button_sticky_search }}</button>
                    </div>

                    <div class="sticky_menu_item_search_help">
                        <div style="color: #f00;">*</div>
                        <div>{{ search_limit_text }}</div>
                    </div>

                    <div class="sticky_menu_item_search_content">
                        <div class="sticky_menu_item_search_wrap sticky-clone-sortable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if manufacturers %}
    <div class="form-group sticky-menu_item_wrap">
        <div class="sticky-menu_item">
            <div class="text-left sticky-menu_item_title">
                <span>{{ entry_add_manufacturers }}</span>
                <i class="fa fa-angle-down"></i>
            </div>

            <div class="sticky-menu_item_content tab-content">
                <div class="sticky-menu_item_tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general_sticky_manufacturers_first" data-toggle="tab">{{ tab_sticky_first ~ ' ' ~ manufacturers_limit }}</a>
                        </li>

                        <li>
                            <a href="#tab-general_sticky_manufacturers_search" data-toggle="tab">{{ tab_sticky_search }}</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-pane active" id="tab-general_sticky_manufacturers_first">
                    <div class="sticky_menu_item_last_wrap sticky-clone-sortable">
                        {% for key_manufacturer, manufacturer in manufacturers %}
                            <div class="sticky-menu_item-item sticky-menu_item-item_{{ key_manufacturer }}">
                                <span data-id="{{ manufacturer['id'] }}" data-url_link="{{ manufacturer['url']['link'] }}" data-layout="{{ manufacturer['layout'] }}" 
                                    {% for language in languages %}
                                        data-name_{{ language['language_id'] }}="{% if manufacturer['names']['language_' ~ language.language_id] is defined %}{{ manufacturer['names']['language_' ~ language.language_id] }}{% endif %}" 
                                        data-url_seo_{{ language['language_id'] }}="{% if manufacturer['url']['seo']['language_' ~ language.language_id] is defined %}{{ manufacturer['url']['seo']['language_' ~ language.language_id] }}{% endif %}" 
                                    {% endfor %}
                                >{% if manufacturer['title'] is not empty %}{{ manufacturer['title'] }}{% else %}{{ note_title_empty }}{% endif %}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane" id="tab-general_sticky_manufacturers_search">
                    <div class="sticky_menu_item_search_form">
                        <input type="search" id="sticky-manufacturers-search-field" class="form-control sticky_menu_item_search_input" value="">
                        <button type="button" class="sticky_menu_item_search_button" data-text_loading="{{ button_sticky_load }}" data-layout="manufacturer">{{ button_sticky_search }}</button>
                    </div>

                    <div class="sticky_menu_item_search_help">
                        <div style="color: #f00;">*</div>
                        <div>{{ search_limit_text }}</div>
                    </div>

                    <div class="sticky_menu_item_search_content">
                        <div class="sticky_menu_item_search_wrap sticky-clone-sortable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{{ sticky_blog }}