{{ header }}

{% import "drmyts/template/macro/macros.twig" as macros %}
{% import "drmyts/template/macro/product-card.twig" as card %}

<main>
	{{ content_top }}
	<section class="shop">
		<div class="container shop__container d-grid">
			<div class="shop__heading shop-heading flex-row-wrap j-between">
				<button class="btn btn--full_gray flex-row btn--size_S shop-heading__filter-btn" type="button" data-modal-open="filter">
					<svg role="presentation">
						<use href="./assets/svg/sprite.svg#filter"></use>
					</svg>
					<span>Фільтри</span>
				</button>
				<div class="active-filters flex-row-wrap shop-heading__active-filter d-none">
					<button class="active-filters__item btn flex-center btn--full_black text--size_label" type="button">
						<span>В наявності</span>
						<svg role="presentation">
							<use href="./assets/svg/sprite.svg#close"></use>
						</svg>
					</button>
					<button class="active-filters__item btn flex-center btn--full_black text--size_label" type="button">
						<span>Додатковий догляд</span>
						<svg role="presentation">
							<use href="./assets/svg/sprite.svg#close"></use>
						</svg>
					</button>
					<button class="active-filters__item btn flex-center btn--full_black text--size_label" type="button">
						<span>Для жінок</span>
						<svg role="presentation">
							<use href="./assets/svg/sprite.svg#close"></use>
						</svg>
					</button>
				</div>
				<button class="btn btn--full_gray btn--size_S shop-heading__reset d-none" type="button">Скинути фільтри</button>
				<p class="shop-heading__total m-0 text--color_gray d-none">120 товарів</p>

				<div class="custom-select shop-heading__select rel">
					<div class="custom-select__heading flex-row">
						<span>За популярністю</span>
						<div class="icon icon--arrow custom-select__arrow anim">
                            {{ macros.svg('arrow-down', '') }}
						</div>
						<input type="hidden" name="sort_by">
					</div>
					<div class="custom-select__dropdown abs bg--white z1 anim">
						<ul class="custom-select__list">
                            {% for sorts in sorts %}
                                <li class="custom-select__option anim" data-value="{{ sorts.href }}">{{ sorts.text }}</li>
                            {% endfor %}
						</ul>
					</div>
				</div>

			</div>
			<div class="backdrop fixed inset wh-full anim filter backdrop--mobile shop__filter" data-modal="filter">
                {{ column_left }}   
			</div>
			<div class="shop__products">
                {% if products %}
				<div class="shop__grid d-grid">
                    {% for product in products %} 
                        {{ card.productCard(product.thumb, product.product_id, product.name, product.manufacturer, product.brand_href, product.price, product.special, product.discount, product.in_wishlist, product.href, 'splide__slide products-slider__slide') }}
                    {% endfor %}
				</div>

				<div class="shop__pagination pagination flex-center">
					{{ pagination }}
				</div>
                {% endif %}
				<div class="quote-block bg--surface shop__quote-block">
					<div class="quote-block__heading text--upp flex-row-wrap j-between">
						<div class="product-page__icon-title quote-block__title flex-row">
                            {{ macros.svg('warning', '') }}
							<span>Послуга експрес-консультації</span>
						</div>
						<span class="quote-block__price">500 ₴</span>
					</div>
					<div class="quote-block__content d-flex">
                        {{ macros.svg('quote', 'quote-block__icon') }}
						<p>Підберу повний план з урахуванням стану шкіри, твого бюджету, наявних засобів і побажань..</p>
					</div>
					<button class="btn btn--theme_accent text--upp btn--size_M btn--theme d-block quote-block__btn" type="button" data-modal-open="consult">Детальніше</button>
				</div>
			</div>
		</div>
	</section>
	{{ content_bottom}}
</main>

{{ footer }}
