{{ header }}

{% import "drmyts/template/macro/macros.twig" as macros %}
{% import "drmyts/template/macro/product-card.twig" as card %}
{% import "drmyts/template/macro/sections.twig" as sections %}
{% import "drmyts/template/macro/blocks.twig" as blocks %}

<main id="content">
	{{ content_top }}

	<section class="shop">
		<div class="container shop__container d-grid {% if not column_left %} shop__container--clean {% endif %}">
			<div class="shop__heading shop-heading flex-row-wrap j-between">
                {% if column_left %}
				<button class="btn btn--full_gray flex-row btn--size_S shop-heading__filter-btn" type="button" data-modal-open="filter">
                    {{ macros.svg('filter', '') }}
					<span>{{ button_filter_open }}</span>
				</button>
                {% endif %}

                {% if active_filters and column_left  %}
				<div class="active-filters flex-row-wrap shop-heading__active-filter d-none">
                    {% for filter in active_filters %}
                        <button class="active-filters__item btn flex-center btn--full_black text--size_label" 
                                type="button" 
                                onclick="location = '{{ filter.remove_href }}';">
                            <span>{{ filter.name }}</span>
                            {{ macros.svg('close', '')}}
                        </button>
                    {% endfor %}
                </div>
                {% endif %}

                {% if active_filters and column_left  %}
				    <button class="btn btn--full_gray btn--size_S shop-heading__reset d-none" type="button" onclick="location = '{{ reset_url }}';">{{ button_reset_filter }}</button>
                {% endif %}

                {% if product_total > 1 %}
				    <p class="shop-heading__total m-0 text--color_gray d-none">{{ product_total }} товарів</p>
                {% endif %}

                {{ blocks.sortSelect(sorts, sort, order, 'shop-heading__select') }}
			</div>

            {% if column_left %}
			<div class="backdrop fixed inset wh-full anim filter backdrop--mobile shop__filter" data-modal="filter">
                {{ column_left }}   
			</div>
            {% endif %}

			<div class="shop__products">

                {% if products %}
				<div class="shop__grid d-grid">
                    {% for product in products %} 
                        {{ card.productCard(product.thumb, product.product_id, product.name, product.manufacturer, product.brand_href, product.price, product.special, product.discount, product.in_wishlist, product.href, 'splide__slide products-slider__slide') }}
                    {% endfor %}
				</div>

                    {% if pagination %}
    				<div class="shop__pagination pagination-wrapper flex-center">
    					{{ pagination }}
    				</div>
                    {% endif %}
                {% else %}
                    {{ sections.noProductsFound() }}
                {% endif %}
                
				{{ blocks.consultBlock('shop__quote-block') }}
            </div>
		</div>
	</section>
	{{ content_bottom}}
</main>

{{ footer }}
