{{ header }}

{% import "drmyts/template/macro/macros.twig" as macros %}
{% import "drmyts/template/macro/product-card.twig" as card %}

<main id="content">
	{{ content_top }}
	<section class="shop">
		<div class="container shop__container d-grid {% if not column_left %} shop__container--clean {% endif %}">
			<div class="shop__heading shop-heading flex-row-wrap j-between">
				<button class="btn btn--full_gray flex-row btn--size_S shop-heading__filter-btn" type="button" data-modal-open="filter">
                    {{ macros.svg('filter', '') }}
					<span>{{ button_filter_open }}</span>
				</button>

                {% if active_filters and column_left  %}
				<div class="active-filters flex-row-wrap shop-heading__active-filter d-none">
                    {% for filter in active_filters %}
                        <button class="active-filters__item btn flex-center btn--full_black text--size_label" 
                                type="button" 
                                onclick="location = '{{ filter.remove_href }}';">
                            <span>{{ filter.name }}</span>
                            {{ macros.svg('close', '')}}
                        </button>
                    {% endfor %}
                </div>
                {% endif %}

                {% if active_filters and column_left  %}
				    <button class="btn btn--full_gray btn--size_S shop-heading__reset d-none" type="button" onclick="location = '{{ reset_url }}';">{{ button_reset_filter }}</button>
                {% endif %}

                {% if product_total > 1 %}
				    <p class="shop-heading__total m-0 text--color_gray d-none">{{ product_total }} товарів</p>
                {% endif %}

                <div class="custom-select shop-heading__select rel">
                    <div class="custom-select__heading flex-row">
                        <span>

                            {% set current_sort_text = '' %}
                            {% for sorts_item in sorts %}
                                {% if sorts_item.value == '%s-%s'|format(sort, order) %}
                                    {% set current_sort_text = sorts_item.text %}
                                {% endif %}
                            {% endfor %}

                            {{ current_sort_text ?: 'За замовчуванням' }}
                        </span>
                        <div class="icon icon--arrow custom-select__arrow anim">
                            {{ macros.svg('arrow-down', '') }}
                        </div>
                    </div>
                    <div class="custom-select__dropdown abs bg--white z1 anim">
                        <ul class="custom-select__list">
                            {% for sorts in sorts %}
                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                    <li class="custom-select__option anim active" data-value="{{ sorts.href }}" onclick="location = '{{ sorts.href }}';">{{ sorts.text }}</li> 
                                {% else %}
                                    <li class="custom-select__option anim" data-value="{{ sorts.href }}" onclick="location = '{{ sorts.href }}';">{{ sorts.text }}</li> 
                                {% endif %}
                            {% endfor %} 
                        </ul>
                    </div>
                </div>
			</div>

            {% if column_left %}
			<div class="backdrop fixed inset wh-full anim filter backdrop--mobile shop__filter" data-modal="filter">
                {{ column_left }}   
			</div>
            {% endif %}

			<div class="shop__products">

                {% if products %}
				<div class="shop__grid d-grid">
                    {% for product in products %} 
                        {{ card.productCard(product.thumb, product.product_id, product.name, product.manufacturer, product.brand_href, product.price, product.special, product.discount, product.in_wishlist, product.href, 'splide__slide products-slider__slide') }}
                    {% endfor %}
				</div>

				    {% if pagination %}
    				<div class="shop__pagination pagination-wrapper flex-center">
    					{{ pagination }}
    				</div>
                    {% endif %}
                {% else %}
                    <p>Товарів не знайдено. Спробуйте змінити фільтри</p>
                {% endif %}
                
				<div class="quote-block bg--surface shop__quote-block">
					<div class="quote-block__heading text--upp flex-row-wrap j-between">
						<div class="product-page__icon-title quote-block__title flex-row">
                            {{ macros.svg('warning', '') }}
							<span>Послуга експрес-консультації</span>
						</div>
						<span class="quote-block__price">500 ₴</span>
					</div>
					<div class="quote-block__content d-flex">
                        {{ macros.svg('quote', 'quote-block__icon') }}
						<p>Підберу повний план з урахуванням стану шкіри, твого бюджету, наявних засобів і побажань..</p>
					</div>
					<button class="btn btn--theme_accent text--upp btn--size_M btn--theme d-block quote-block__btn" type="button" data-modal-open="consult">Детальніше</button>
				</div>
			</div>
		</div>
	</section>
	{{ content_bottom}}
</main>

{{ footer }}
