{{ header }}

{% import "drmyts/template/macro/sections.twig" as sections %}
{% import "drmyts/template/macro/product-card.twig" as card %}
{% import "drmyts/template/macro/macros.twig" as macros %}
{% import "drmyts/template/macro/blocks.twig" as blocks %}

<main id="content">
    {{ content_top }}

    {{ sections.pageTitle(heading_title, breadcrumbs) }}

	<section class="shop" id="product-search">
		<div class="container shop__container d-grid {% if not column_left %} shop__container--clean {% endif %}">
			<div class="shop__heading shop-heading flex-row-wrap j-between">

                <div class="shop-heading__search-filters flex-row-wrap">
                    <div class="shop-heading__search flex-row search-form">
                        <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />
                    	<div class="search-form__input custom-input custom-input--type_with-icon rel">
                    		<input class="custom-input__input" type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" autocomplete="off"/>
                    		<button class="btn flex-center icon custom-input__icon abs" type="submit"  id="button-search" >
                    			{{ macros.svg('search', '') }}
                    		</button>
                    	</div>
                    </div>

                    <div class="custom-select shop-heading__select rel">
                        <div class="custom-select__heading flex-row">
                            <span>
                                {{ text_category }}
                            </span>
                            <input type="hidden" name="category_id" value="{{ category_id }}">
                            <div class="icon icon--arrow custom-select__arrow anim">
                                {{ macros.svg('arrow-down', '') }}
                            </div>
                        </div>
                        <div class="custom-select__dropdown abs bg--white z1 anim">
                            <ul class="custom-select__list">
                                {% for category_1 in categories %}
                                    {% if category_1.category_id == category_id %}
                                        <li class="custom-select__option anim active" data-value="{{ category_1.category_id }}">{{ category_1.name }}</li> 
                                    {% else %}
                                        <li class="custom-select__option anim" data-value="{{ category_1.category_id }}">{{ category_1.name }}</li> 
                                    {% endif %}

                                    {% for category_2 in category_1.children %}
                                        {% if category_2.category_id == category_id %}
                                            <li class="custom-select__option anim active" data-value="{{ category_2.category_id }}">{{ category_2.name }}</li> 
                                        {% else %}
                                            <li class="custom-select__option anim" data-value="{{ category_2.category_id }}">{{ category_2.name }}</li> 
                                        {% endif %}

                                        {% for category_3 in category_2.children %}
                                            {% if category_3.category_id == category_id %}
                                                <li class="custom-select__option anim active" data-value="{{ category_3.category_id }}">{{ category_3.name }}</li> 
                                            {% else %}
                                                <li class="custom-select__option anim" data-value="{{ category_3.category_id }}">{{ category_3.name }}</li> 
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="custom-checkbox shop-heading__radio flex-row"> 
                        <div class="custom-checkbox__wrapper rel"> 
                            <input class="abs wh-full inset m-0" type="checkbox" name="description" value="1" id="description"{% if description %} checked="checked"{% endif %}>
                        </div>
                        <label for="description">{{ entry_description }}</label>
                    </div>
                </div>
                {# /.shop-heading__search-filters #}

                {{ blocks.sortSelect(sorts, sort, order, 'shop-heading__select') }}
			</div>

            {% if column_left %}
			<div class="backdrop fixed inset wh-full anim filter backdrop--mobile shop__filter" data-modal="filter">
                {{ column_left }}   
			</div>
            {% endif %}

			<div class="shop__products">

                {% if products %}
				<div class="shop__grid d-grid">
                    {% for product in products %} 
                        {{ card.productCard(product.thumb, product.product_id, product.name, product.manufacturer, product.brand_href, product.price, product.special, product.discount, product.in_wishlist, product.href, 'splide__slide products-slider__slide') }}
                    {% endfor %}
				</div>

                    {% if pagination %}
    				<div class="shop__pagination pagination-wrapper flex-center">
    					{{ pagination }}
    				</div>
                    {% endif %}
                {% else %}
                    {{ sections.noProductsFound() }}
                {% endif %}
                
				{{ blocks.consultBlock('shop__quote-block') }}
			</div>
		</div>
	</section>
    {{ content_bottom }}
</main>

<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('input[name=\'category_id\']').trigger('change');
--></script>
{{ footer }}