{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-left">{{ column_customer }}</td>
                <td class="text-left">{{ column_telegram }}</td>
                <td class="text-left">{{ column_status }}</td>
                <td class="text-left">{{ column_date }}</td>
                <td class="text-right">{{ column_action }}</td>
              </tr>
            </thead>
            <tbody>
              {% if consultations %}
              {% for consult in consultations %}
              <tr>
                <td class="text-left">{{ consult.customer }}</td>
                <td class="text-left"><code>{{ consult.telegram_id }}</code></td>
                <td class="text-left">
                    <span class="label {{ consult.status_raw ? 'label-success' : 'label-warning' }}">
                        {{ consult.status }}
                    </span>
                </td>
                <td class="text-left">{{ consult.date_added }}</td>
                <td class="text-right">
                  {% if consult.status_raw == 0 %}
                    <a href="{{ consult.create }}" data-toggle="tooltip" title="{{ button_create }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_create }}</a>
                  {% else %}
                    <a href="{{ consult.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-default"><i class="fa fa-pencil"></i> {{ button_edit }}</a>
                  {% endif %}
                    <a href="{{ consult.delete }}" data-toggle="tooltip" title="Видалити" class="btn btn-danger" onclick="return confirm('{{ text_confirm }}');"><i class="fa fa-trash-o"></i></a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="5">Список порожній</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}